@use '../abstracts/brakepoints' as *;
@use '../abstracts/colors' as *;

.client-layout-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // Ensures full height even on short pages
    width: 100%;
    flex:1;

    .client-layout-content {
        background-color: $background-black-9;
        flex: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}