@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *; 
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;
@use '../abstracts/brakepoints' as *;


.footer-container{
    position: relative;
    width: 100%;
    // bottom: 0;
    background-color: $background-black-1;
    color:$white;

    @include sm-breakpoint{
        font-size:$fs5;
    }

    @include xs-breakpoint{
        font-size:$fs6;
    }

    footer{
        @include flex-with-direction-center($direction:column);
        color:$white;

        padding:2em 0em;

        .social{
            font-size:2em;

            & a{
                color:$white;
                padding:0em .5em;

                &:hover{
                    color:$grey-5;
                }
            }
        }

        .links{
            @include flex-with-direction($direction:row);
            padding: .5em 0;
            
            .link{
                list-style: none;
                padding:0em .5em;

                @include xs-breakpoint{
                    padding:0em .3em;
                }

                & a{
                    color:$white;
                    text-decoration: none;

                    &:hover{
                        color:$grey-5;
                    }
                }        
            }
            
        }

        .copyright-label{
            font-size: 1em;
            padding:.5em 0em;
        }
    }
}