@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;
@use '../base/typography' as *;
@use '../abstracts/brakepoints' as *;
@use '../abstracts/mixins' as *;

.sidebar-container{
    width: 100%;
    max-width: 1600px;

    display: flex;
    position: absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);

    background-color: rgba(7, 7, 7, 0.911);

    @include xl-breakpoint{
        position:unset;
        transform:translateX(0);
    }

    .nav-button{
        display: none;
        position:absolute;
        top:.6em;
    
        z-index: 101;

        @include md-breakpoint{
            display: unset;
            left:.7em;
        }

        @include sm-breakpoint{
            left:.3em;
        }

        &:hover{
            color:$color-hs-6;
            cursor: pointer;
        }

        &-icon{
            font-size:2.5rem;
            text-align: center;
        }

    }

    .close-nav-button{
        color:$white;
    }

    .section-menu{
        width: 30%;
        max-width: 250px;
        min-width: 200px;

        background-color: #F5F5F5;

        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-content: center;

        @include md-breakpoint{
            position:absolute;

            width: 4rem;
            height: 100%;
            max-width: unset;
            min-width: unset;

            z-index: 20;
        }

        @include sm-breakpoint{
            width: 3.5rem;
            height: 100%;

        }

        .sidebar-logo{
            
            display: flex;
            padding:.7em .3em;

            font-family: $root-font-family-8;
            font-size: 1.4rem;

            @include md-breakpoint(){
                visibility: hidden;
            }
            
        
            .logo-icon{
                font-size: 1.3em;
                padding-right:.2em;
                color:$nav-hover-color;
            }
            
            .logo-text{
                margin:.1em 0;
                font-weight: 600;
                
                & span:first-child{
                    color:$black;
                }
                
                & span:last-child{
                    color:$nav-hover-color;
                }
            }
            & span:first-child{
                color:white;
            }
    
            & span:last-child{
                color:$nav-hover-color;
            }
        }

        .sidebar-menu{

            @include md-breakpoint(){
                @include flex-with-direction-center($direction:column);

                margin:.5em 0em;
            }

            .menu-option{
                padding:0em .8em;

                @include md-breakpoint{
                    padding:0em .1em;
                    margin: 0em;
                    display: flex;
                    flex-direction: column;
                    // justify-content: center;
                    align-items: center;
                }
                @include sm-breakpoint{
                    padding:0em .3em;
                }

                .sidebar-menu-link{

                    display: flex;
                    align-items: center;
                    text-decoration: none;

                    padding:.2em 0 0 .4em;
                    margin:.3em 0;

                    color:$black-7;
                    border-radius: 8px;

                    &:hover{
                        background-color:$color-hs-1;
                        color:$white;
                    }
                    
                    .sidebar-menu-icon{
                        font-size:1.3rem;
                        padding:.2em .2em .2em .2em;
                        padding-right:.4em;

                    }
                    .sidebar-menu-name{
                        font-family: $root-font-family-8;
                        font-size: $fs-em-4;
                        font-weight: 500;

                        @include md-breakpoint{
                            display:none;
                        }
                    }
                }

                .logout{
                    padding-top:0em;
                    margin:0em;

                    &:hover{
                        color:rgba(141, 0, 0, 0.842);
                        cursor: pointer;
                    }
                }

                .active-link{
                    color:$white;  
                    background-color:$color-hs-4;    
                }
            }

            .line{
                width: 100%;
                padding:0 .8em;
                border-bottom: 1px solid rgba(80, 80, 80, 0.664);

                margin:1em 0em;
            }
        }
    }

    .section-menu-close{
        @include md-breakpoint{
            display: none;
        }
    }

    .sidebar-context-container{
        width: 100%;
        height: 100%;
    }
}