@use '../abstracts/fonts' as *;
@use '../abstracts/placeholders' as *;
@use '../abstracts/colors' as *;
@use '../base/typography' as *;
@use '../abstracts/brakepoints' as *;
@use '../abstracts/mixins' as *;

.header-chat{
    background-color: $black-4;
    border-bottom: 1px solid $white;
    height: 7em;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.100);
    display:flex;
    flex-shrink: 0; 
    align-items: center;
    position:relative;
    
    @include sm-breakpoint{
        height: 5em;
        background-color: $chat-mobile-header;
        flex-shrink: 0;
        
        &.houseworker{
            padding-left:2em;
        }
    }

    .rooms-container-chat-view{
        display: none;

        .chat-view-button-container{
            position: relative;
            left:.7em;
            
            button{
                height: 2em;
                background-color: $grey-1;
                border:none;
                padding:0 .2em;
                font-family: $font-family-2;
        
                border-radius:.2em;
        
                color:$black;
                font-weight: 600;

                cursor: pointer;

                &:hover{
                    background-color: $grey-4;
                }
            }
        }

        @include sm-breakpoint{
            display: unset;
        }
    }

    .menu-icon{
        margin-left: auto;
        margin-right:1em;
        color:$white;
        cursor: pointer;
        &:hover{
            color:$grey-3;
        }
    }

    .names {
        display: flex;
        flex-wrap: wrap;
        gap:.5em;
        margin: 0 0 0 20px;
        text-transform: uppercase;
        font-family: $font-family-2;
        font-weight: 600;
        font-size: $fs-em-5;
        color:$white;

        @include sm-breakpoint{
            font-size: $fs-em-6;
            gap:.2em;
        }

        .user{  
            display: flex;
            align-items: center;
            
            span{   
                padding-left:.2em;
            }

            .online-dot{
                margin-right: .2em;
                @include online-dot();
            }
        }
    }
    
    .right{
        position: absolute;
        right: 40px;
    }
}

.chat-menu{
    position: relative;
    z-index: 10;
}

.showMenu{
    opacity: .1;
}

.messages-chat{
    padding: 25px 35px;
    height: 100%;
    width: 100%;
    overflow:auto;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    overflow-anchor: none;
    // position: sticky;
    position: relative;

    @extend %scrollbar-chat-style;

    @include md-breakpoint{
        padding: 25px 17px;
    }

    @include sm-breakpoint{
        width: 100%;
        background-color: $chat-mobile-background;
        padding: 15px 10px;
        flex: 1;
        flex-shrink: 1;
        overflow-y: auto;
    }

    @include xs-breakpoint{
        padding: 15px 10px;
    }


    .message-chat-spinner{
        position: absolute;
        top:20%;
        left:45%;
        transform:translateX(-50%, -50%);
    }

    .message{
        display:flex;
        align-items: center;
        margin-bottom: 8px;
        font-family: $font-family-2;
        font-weight: 500;
        font-size: $fs-em-5;

        .photo{
            position: relative;
            display: block;
            width: 45px;
            height: 45px;
            background: $grey-2;
            border-radius: 50px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            &-hover-username{
                position: relative;
                top:-1em;
                font-family: $font-family-3;
                font-size: $fs-em-5;
                color:$white;
                visibility: hidden;
                opacity: 0;
                transform: translateY(10px);
                transition: opacity .2s ease, transform .3s ease;

            }

            &:hover .photo-hover-username {
                visibility: visible;
                opacity: 1;
                transform:translateY(0);
            }
        }

        .response{
            display: flex;
            align-items: center;
            position:relative;
            float: right;
            margin-right: 0px;
            margin-left:auto;
    
            .text{
                background-color: #e3effd 
            }
    
            .date-response{
                @extend %chat-date-hidden;
            }
    
            &:hover .date-response{
                @extend %chat-date-visible;
            }
            
        }
    

        .date{
            @extend %chat-date-hidden;            
        }
        
        // + sibling combinator - (.date is next sibling of .text)
        .text:hover + .date{
            @extend %chat-date-visible;
        }
    }

    .text{
        margin: 0 15px;
        background-color: #f6f6f6;
        padding: 15px;
        border-radius: 12px;

        &:hover .date{
            visibility: visible;
        }
    }

    .text-only{
        margin-left: 45px;
    }   

    .server{
        display:flex;
        width: 100%;
        margin-bottom: 8px;
        font-family: $font-family-2;
        font-weight: 500;
        font-size: $fs-em-6;

        .response{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        
        .text{
            background-color: #111111;
            color:$white;
            padding: 15px;
            border-radius: 12px;
        }
    }

    .time{
        font-size: 10px;
        color:$grey-1;
        margin-bottom:10px;
        margin-left: 85px;
    }
      
    .response-time {
        float: right;
        margin-right: 40px !important;
    }

    .no_conversation{
        margin-top:1em;
        color:white;
        font-size:$fs3;
        font-weight: 600;
        font-family: $font-family-1;
        
        text-align: center;       
    }
}

.footer-chat{
    width: 100%;
    height: 5em;
    display:flex;
    align-items: center;
    flex-shrink: 0; 
    gap:.4em;
    position:relative;
    background-color: transparent;
    border-top: 2px solid #EEE;
    box-sizing: border-box; // Ensure padding is included in height

    @include sm-breakpoint{
        background-color: $chat-mobile-background;
        border-top: 2px solid #747474;
         height: auto;
        min-height: 5em;
        padding: 2px;
        flex-shrink: 0;
    }

    .icon {
        margin-left: 30px;
        color:#C0C0C0;
        font-size: 14pt;
    }

    .send-icon{
        display: flex;
        color:#fff;
        background-color: $color-hs-5;
        border:none;
        padding: 9px 9px 9px 9px;
        border-radius: 50%;
        cursor: pointer;

        &:hover{
            background-color: $color-hs-6;
        }
    }

    .write-message {
        position:relative;
        width:80%;
        height: 40px;

        margin-left: 20px;
        padding: 10px;

        font-family: $font-family-2;
        border:none;
        border-radius: .5em;
         box-sizing: border-box;

            @include sm-breakpoint {
            margin-left: 10px;
            width: calc(100% - 60px);
        }

        &:hover{
            border: 2px solid black;
            border-radius: .4em;
        }
    }

    .clickable{
        cursor: pointer;
    }

     .send-icon {
        display: flex;
        color: #fff;
        background-color: $color-hs-5;
        border: none;
        padding: 9px;
        border-radius: 50%;
        cursor: pointer;
        flex-shrink: 0;

        &:hover {
            background-color: $color-hs-6;
        }

        @include sm-breakpoint {
            margin-right: 10px;
        }
    }

}