@use '../base/typography' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

.chat-menu-container{
    // position: relative;
    display: flex;
    flex-wrap: wrap;
    font-family: $root-font-family-3;

    width: 100%;
    height: 10em;
    
    margin:.5em 0;

    .menu-option{
        display: flex;
        flex-direction: column;

        //After items wrap its take width to max (without that it will be only 50% of width )
        flex-grow: 1; 
        // // flex-shrink: 1;
        // flex-basis: 50%;
        // flex: 1 2 20%;

        padding:0 .2em;

        border-radius:$border-radisu-xsm;
    
        .menu-option-title{
            font-family: $message-font-family;
            font-family: $root-font-family-3;
            font-size: $fs3;
            font-weight: 500;
            text-align: center;
            margin:.8em 0;
            color:$black;
        }


        .searchbar{
            height: 2em;
            background-color: #FFF;
            padding: 0 20px;
            border-radius: 50px;
            border: 1px solid #EEEEEE;
            display:flex;
            align-items: center;
            cursor: pointer;
            position: relative;
            
            .menu-search-input{
                margin-left: 15px;
                height:2.2em;
                width: 100%;
                border:none;
            }
        }


        .dropdown-list{
            text-align: center;
            margin:.3em;
            color:$grey-9;

            .dropdown-row{
                font-size: $fs3;
                font-weight: 500;
                cursor: pointer;
                

                //dropdown-row-item

                &-item{
                    display:inline-block;
                    text-align: start;
                    // color:red;
                    // border-bottom: 2px solid black;

                    &:hover{
                        font-weight: 700;
                        border-bottom: 2px solid black;
                    }
                }

            }
        }
    }

    .add-user-container{
        display: flex;
        flex-direction: column;

        background-color: $grey-1;
        padding:0 .2em;
        margin:.2em 0;
        
        border-radius:$border-radisu-xsm;

        button{
            width: 8em;
            height: 2em;
            margin: .5em .5em;
        }

    }

    .kick-user-container{
        display: flex;
        flex-direction: column;
        background-color: $grey-1;

        border-radius:$border-radisu-xsm;
        // height: 100%;
        padding:0 .2em;
        margin:.2em 0;

        button{
            width: 8em;
            height: 2em;

            margin: .5em .5em;
        }
    }

    .delete-container{
        display: flex;
        flex-direction: column;
        background-color: $grey-1;

        border-radius:$border-radisu-xsm;
        // width: 100%;
        // height: 100%;
        padding:0 .2em;
        margin:.2em 0;

        button{
            width: 8em;
            height: 2em;

            margin: 0 auto 1em auto ;
        }
    }
}