@use '../base/typography' as *;
@use '../abstracts/placeholders' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

.chat-menu-container{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 10em;

    margin:.5em 0;
    font-family: $root-font-family-3;

    .menu-option{
        display: flex;
        flex-direction: column;

        //After items wrap its take width to max (without that it will be only 50% of width )
        flex-grow: 1; 
        // // flex-shrink: 1;
        // flex-basis: 50%;
        // flex: 1 2 20%;

        padding:0 .2em;

        border-radius:$border-radisu-xsm;
    
        .menu-option-title{
            font-family: $root-font-family-3;
            font-size: $fs3;
            font-weight: 600;
            text-align: center;
            margin:.8em 0;
            color:$black;
        }


        .searchbar{
            height: 2em;
            background-color: #FFF;
            padding: 0 20px;
            border-radius: 50px;
            border: 1px solid $white-smoke;
            display:flex;
            align-items: center;
            cursor: pointer;
            position: relative;
            
            .menu-search-input{
                margin-left: 15px;
                height:2.2em;
                width: 100%;
                border:none;

                font-family: $root-font-family-2;
                font-weight: 700;

                &::placeholder{
                    font-weight: 500;
                }
               
            }
        }


        .dropdown-list{
            text-align: center;
            margin:.3em;
            color:$grey-9;


            .dropdown-row{
                font-size: $fs5;
                font-weight: 500;
                cursor: pointer;
            
                //dropdown-row-item

                &-item{
                    display:inline-block;
                    text-align: start;
                    // color:red;
                    // border-bottom: 2px solid black;

                    &:hover{
                        font-weight: 700;
                        border-bottom: 2px solid black;
                    }
                }

            }
        }
    }

    .add-user-container{
        @extend %chat-menu-item;

        button{
            margin: .5em .5em;
        }

    }

    .kick-user-container{
        @extend %chat-menu-item;
        button{
            margin: .5em .5em;
        }
    }

    .delete-container{
        @extend %chat-menu-item;
        height: 8.1em;

        button{
            margin: .3em auto 1em auto ;
        }
    }
}