@use '../abstracts/fonts' as *;
@use '../abstracts/placeholders' as *;

.header-chat{
    background-color: #FFF;
    height: 7em;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.100);
    display:flex;
    align-items: center;
    position:relative;

    .icon {
        margin-left: 30px;
        color:#515151;
        font-size: 14pt;
        cursor: pointer;
    }

    .name {
        margin: 0 0 0 20px;
        text-transform: uppercase;
        font-family:'Montserrat', sans-serif;
        font-size: 13pt;
        color:#515151;
    }
    
    .right{
        position: absolute;
        right: 40px;
    }
}

.messages-chat{
    padding: 25px 35px;
    height: 100%;
    overflow:auto;

    @extend %scrollbar-chat-style;

    .message{
        display:flex;
        align-items: center;
        margin-bottom: 8px;
        // font-family: $message-font-family;
        font-size: .9em;

        .photo{
            display: block;
            width: 45px;
            height: 45px;
            background: #E6E7ED;
            border-radius: 50px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .text {
        margin: 0 35px;
        background-color: #f6f6f6;
        padding: 15px;
        border-radius: 12px;
    }

    .text-only{
        margin-left: 45px;
    }   

    .time {
        font-size: 10px;
        color:lightgrey;
        margin-bottom:10px;
        margin-left: 85px;
      }
      
      .response-time {
        float: right;
        margin-right: 40px !important;
      }

      .response{
        float: right;
        margin-right: 0px !important;
        margin-left:auto; /* flexbox alignment rule */

        .text{
            background-color: #e3effd !important;
        }

      }
}


.footer-chat{
    width: 100%;
    height: 5em;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
    background-color: transparent;
    border-top: 2px solid #EEE;

    .icon {
        margin-left: 30px;
        color:#C0C0C0;
        font-size: 14pt;
    }

    .send {
        color:#fff;
        background-color: #4f6ebd;
        // position: absolute;
        // right: 50px;
        margin-right: 30px;
        padding: 12px 12px 12px 12px;
        border-radius: 50px;
        font-size: 14pt;
    }

    .write-message {
        border:none !important;
        width:80%;
        height: 40px;
        margin-left: 20px;
        padding: 10px;
      }

    .clickable{
        cursor: pointer;
    }

}





//----------------------OLD------------------------//

// .messages-container{
//     /* background-color: aliceblue; */
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     // font-family:'Montserrat', sans-serif;

//     margin:rem 0;
//     padding:2rem 0;   

//     .messages-box{
//         background-color: rgb(229, 240, 234);
//         width: 40%;
//         max-height: 30rem;
//         /* position: relative; */
//         padding: 1rem .1rem;
//         display: flex;
//         flex-direction: column;
//         min-width: 600px;
//         border-radius: 1.5rem;
//         overflow-y: scroll;


//         .message{
//             //There isn't something

//             .context{
//                 padding:.5rem 1.5rem;
//                 text-align: center;
//             }  

//             .my-message{
//                 display: flex;
//                 justify-content:flex-end;
//                 /* background-color: green; */
        
//                 span{
//                     background-color: rgb(120, 219, 120);
//                     padding:.5rem .5rem;
//                     border-radius: .6rem;
//                 }
//             }
//             .notMy-message{
//                 display: flex;
//                 justify-content: flex-start;
//                 color:white;
        
//                 span{
//                     background-color: rgb(46, 153, 196);
//                     padding:.5rem .5rem;
//                     border-radius: .6rem;
//                 }
//             }
            
//             .user_name{
//                 font-weight: 600;
//                 color:black;
//             }

//         }
    

//         //messages-box-send
//         &-send{
//             display: flex;
//             /* background-color: bisque; */
//             width: 100%;
//             justify-content: center;
//             align-items: center;
//             margin:1rem 0 -.5rem 0;

//             input{
//                 width:40%;
//                 height: 1.5rem;

//                 &::placeholder{
//                     text-align: center;
//                 }
//             }

//             button{
//                 margin-left: 1rem;
//                 width: 4rem;
//                 height: 1.8rem;
//             }
//         }

//     }

// }



