@use '../abstracts/mixins' as *;
@use '../abstracts/fonts' as *;
@use '../abstracts/colors' as *;
@use '../base/typography' as *;

.comment{
    position: relative;
    background-color: $background-black-3;

    width: 95%;
    // height: 4rem;

    font-size: $fs5;
    font-family: $root-font-family-5;
    color:$grey-1;

    @include flex-with-direction-center($direction:column);

    padding:.9rem 0rem;
    margin:.5rem 0rem;
    border-radius: .7rem;

    .comment-delete-btn{
        position: absolute;
        right:.4rem;
        top:.4rem;
    
        width: 1rem;
        border:none;
        background: none;
    
        color:red;
        font-size: .8rem;
        font-weight: 600;
        cursor: pointer;

        &:hover{
            color:$white;
            font-size: .9rem;
        }
    }

    .info{

        margin:.5rem 0rem;
        position: absolute;
        top:-.4rem;
        left:.5rem;

        span{
            font-family: $root-font-family-1;
            font-weight: 700;
            margin-left:.3em;
        }

        .commented{
            display: flex;
            flex-direction: row;
        }
    }

    .context-container{
        text-align: center;
        .context{
            padding:.5rem 0rem;
            margin-top:.5em;
            font-size: $fs4;
            font-family: $root-font-family-2;
            font-weight: 500;
            letter-spacing: 0.02em;
        }
    }

}