@use '../abstracts/placeholders' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

.form-select{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .select-box{
        width: 100%;
    }

    .label-input{
        @extend %form-label-input;
    }

    .dropdown{
        color:$black-1;
        font-weight: 500;
        font-family: $root-font-family-2;
        // text-align: center;
    }

    .input-errors{
        @extend %form-input-error;
    }

}