@use '../abstracts/fonts' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/placeholders' as *;
@use '../base/typography' as *;
@use '../abstracts/brakepoints' as *;
@use '../abstracts/mixins' as *;

.comment-container{
    width: 100%;

    max-height: 500px;
    overflow-y: auto;

    display: flex;
    // flex-direction: column-reverse;
    flex-direction: column;
    align-items: center;
   
    @extend %scrollbar-commnet-style;
    
    .no-comments-modal{
        margin:1em 0em .5em 0em;
        font-size: $fs-em-3;
        font-weight: 700;
        letter-spacing: .05em;

        @include xs-breakpoint{
            font-size: $fs6;
        }
    }

    .comment-target{
        visibility: hidden;
        padding:.2em 0em;
    }
}

.comment-input{
    position: relative;
    width: 100%;
    height: 100%;
    margin:.7rem 0;

    display: flex;
    justify-content: center;

    @include xs-breakpoint{
        margin:.4rem 0;
    }

    & input{
        height: 2.2em;
        width: 80%;
        max-width: 300px;

        margin:.2em .5em .5em .5em;
        padding:0 .2em;

        font-family: $font-family-1;

        border:none;
        background-color: $black-7;
        color:white;

        border-radius: .3rem;

        @include xs-breakpoint{
            width: 60%;
            height: 1.8em;
        }
        
        &::placeholder{
            text-align: center;
            color:$black-4;
            color:$white;
        }
    }

    & button{
        height: 2.4em;
        width: 6em;

        font-family: $font-family-2;
        border-radius: .5rem;
        background-color: $black-5;
        color:$white;

        cursor: pointer;

        @include xs-breakpoint{
            height: 2em;
            width: 25%;
        }
        
        &:hover{
            background-color: $black-2;
        }
    }

}