@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;
@use '../base/typography' as *;
@use '../abstracts/brakepoints' as *;
@use '../abstracts/mixins' as *;


.profile-profession-card{
    height: 8em;
    width: 14.5em;

    min-width: 200px;

    padding:.2em 0em;
    margin:.5em 0em;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: $color-hs-6;
    border-radius: 8px;
    border:1px soild black;

    font-family: $root-font-family-6;
    
    .profile-profession-card-title{

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        

        // margin-bottom: 1em;
        margin: .5em 0 ;
        font-size: $fs-em-3;
        height: 1.5em;

        .icon{
            left:.3em;
            padding-right: 4px;
            font-size:1.7em;
        }

        .profession-name{
            font-weight: 600;
            padding-bottom: .5em;

            font-size:$fs-em-5;
        }
    }

    .profile-profession-card-desc{
        font-family: $root-font-family-8;
        font-size: $fs-em-5;
        text-align: center;
    }

}