@use '../abstracts/fonts' as *;
@use '../abstracts/placeholders' as *;
@use '../base/typography' as *;

.comment-container{
    // max-width: 40em;
    width: 100%;
    min-width: 500px;

    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;

    max-height: 500px; /* Set a maximum height */
    overflow-y: auto;
   
    @extend %scrollbar-commnet-style;
    
    .no-comments-modal{
        margin:1em 0em .5em 0em;

        font-family: $root-font-family-1;
        font-size: $fs3;
        font-weight: 700;
        letter-spacing: .05em;
    }
}


.comment-input{
    position: relative;

    margin:.7rem 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    & input{
        height: 1.8em;
        width: 50%;
        max-width: 300px;
        margin:.2em .5em .5em .5em;
        
        &::placeholder{
            text-align: center;
        }
    }

    & button{
        height: 2em;
        width: 5.5em;
        border-radius: .5rem;
        background-color: rgb(44, 36, 36);
        color:white;
        cursor: pointer;

        &:hover{
            background-color: rgb(7, 7, 7);
        }
    }

}