@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;
@use '../base/typography' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/brakepoints' as *;
@use '../abstracts/keyframes' as *;

.backView{
  position:fixed;
  top:0;
  left:0;
  width:100%; /* 100vw same  */
  height: 100vh;
  background-color: $grey-1;
  filter:opacity(0.7);
  z-index: 16;

  &-out{
    animation: fadeOut 0.2s .1s ease-out forwards;
  }
}

.modal{
  position:fixed;

  width:60%;
  max-width: 800px;
  min-width: 560px;

  max-height: 70%;

  margin-bottom: 1rem;

  top:40%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: $white;
  border-radius: $border-radius-md;

  animation: fadeInCenter .2s ease-in;

  z-index: 20;

  &-out{
    animation: fadeOut 0.2s ease-out;
    opacity:0;
  }
  
  @include sm-breakpoint{
    width: 95%;
    min-width: 200px;
  }

  @include xs-breakpoint{
    font-size: .9rem;
  }


  //modal-container
  &-container{
    width: 100%;
    height: 100%;

    &-header{
      display: flex;
      justify-content: space-between;
      background-color:#14191a;
      padding: 0.7em 0;
      border-radius: 1em 1em 0 0;

      :first-child{
        font-family: $font-family-2;
        letter-spacing: 0.1rem;
        font-weight: 600;
        font-size: $fs-em-4;
        padding-left: 1rem; //$f5
        color:$white;
      }

      & button{ /* second div of modal-header */ 
        float: right;
        margin-right:.7rem;
        font-size:$fs6;
        font-weight: bold;
        
        border:transparent;
        background-color: transparent;
        color:$white;

        cursor: pointer;
    
        &:hover{
            color:rgb(184, 0, 0);
            font-size:$fs4;
        }
      }
    }

    &-body{
      background-color: $white;
      padding:0.2rem 0;
      border-radius: $border-radius-md;
    }

    &-footer{
      width: 100%;
      position:static;
      bottom:0;
      padding: 0.6rem 0;
      background-color:#14191a;
    }
  }
}