@use '../abstracts/fonts' as *;
@use '../base/typography' as *;

.room{
    width: 100%;
    height: 90px;
    background-color: #FAFAFA;
    border:none;
    border-bottom: solid 1px #E0E0E0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position:relative;

    &:hover{
        background-color: #b1b1b12d ; 
    }

    .handler-surface{
        background-color: transparent;
        border:none;
        width: 100%;
        height: 100%;
        position:absolute;
        z-index: 10;
        cursor: pointer;
        
    }

    .room-info{
        display:flex;
    }

    .photo{
        margin-left:20px;
        // display: block;
        // width: 45px;
        // height: 45px;
        width:3em;
        height: 3em;
        background: #E6E7ED;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position:relative;

        .user-label{
            position:absolute;
            bottom:-1.1em;
            font-weight: 600;
            font-size:$fs7;
            font-family: $message-font-family;
            z-index: 12;
        }
    }

    .room-contact{
        // height: 43px;
        // width:4em;
        white-space: nowrap;
        text-align: start;
        // overflow: hidden;
        // text-overflow: ellipsis;

        .name {
            margin: 0 0 0 20px;
            font-family:'Montserrat', sans-serif;
            font-size: 11pt;
            color:#515151;
        }
        .message {
            margin: 6px 0 0 20px;
            // font-family:'Montserrat', sans-serif;
            font-family: $message-font-family;
            font-size: 9pt;
            color:#515151;
        }
    }
    .online{
        position: relative;
        top: 30px;
        left: 35px;
        width: 13px;
        height: 13px;
        background-color: #8BC34A;
        border-radius: 13px;
        border: 3px solid #FAFAFA;
    }

    .timer{
        height: 2em;
        width: 5em;
        margin-left: 10%;
        font-family:'Open Sans', sans-serif;
        font-size: 11px;
        padding: 3px 8px;
        color: #BBB;
        background-color: #FFF;
        border: 1px solid #E5E5E5;
        border-radius: 15px;
    }
}

.group{
    // display: flex;;
    position: relative;
    // display:inline-block;
    justify-content: flex-start;
    
    // justify-content: space-around;

    .group-sign{
        position: absolute;
        top:.2em;
        left:.5em;
        font-size:$fs5;
        font-weight: 600;
        font-family: $message-font-family;
    }

    .timer{
        // float:right;
        position:absolute;
        right:.5em;
        margin-left: 15%;
    }
}

.active{
    width: 98.5%;
    height: 90px;
    background-color: #FFF;
    border-bottom: solid 1px #E0E0E0;
}




//--------------------OLD------------------------//

// .users{
//     display: flex;
//     flex-direction:row;
//     padding:1rem 1rem;
//     justify-content: center;
//     align-items: center;

//     // font-family:'Montserrat', sans-serif;
//     .roomUsers span{
//         margin-left: .4rem;
//     }
// }

// .room-buttons{
//     display: flex;
//     width: 100%;
//     height: 100%;

//     .show-room-btn{

//     }
//     .add-user-to-group-btn{

//     }
//     .delete-room-btn{

//     }
//     //or one button selector for all of them
//     // button{

//     // }

// }

// .search-container{
//     //ds

//     input{
//         //ds
//     }

//     .dropdown-list{
//         //ds

//         .dropdown-row{
//             background-color: aliceblue;
//             cursor: pointer;

//             &:hover{
//                 background-color: rgb(168, 208, 243);
//             }
//         }
        
//     }

// }



