@use '../abstracts/fonts' as *;
@use '../base/typography' as *;
@use '../abstracts/colors' as *;

.room{
    display:flex;
    align-items: center;
    justify-content: space-between;


    width: 100%;
    // height: 5.5em;
    height: 5.5em; /* Set a default height */

    background-color: $black-5;
    border:none;
    // border-bottom: solid 3px $black-1;
    border-bottom: solid 2px $grey-2;
    border-radius: 8px;
    cursor: pointer;
    position:relative;

    &:hover{
        background-color: $black-4;
    }

    .handler-surface{
        background-color: transparent;
        border:none;
        width: 100%;
        height: 100%;
        position:absolute;
        z-index: 10;
        cursor: pointer;

        
    }

    .more-user{
        display: flex;
        margin-left:20px;
        width:3em;
        height: 3em;
        align-items: center;
        justify-content: center;
        z-index: 11;

        &-icon{
            color: white;
            z-index: 20;

            &:hover{
                color:$color-hs-6;
            }
        }
    }

    .user-photo-container{
        // height: 100%;
        display: flex;
        flex-wrap: wrap;
        min-width: 5.5em;

        .more-user-chat-container{
            position:absolute;
            top:0em;

            display:flex;            
            padding:.5em 1em;

            background-color: $white;
            color:black;

            font-family: $root-font-family-3;
            font-weight: 500;

            border-radius: .5em;
            z-index: 12;

            .user-chat-label{
                margin:0em .3em;
                
            }
        }

    }

    .room-info{
        display:flex;
    }


    .photo{
        margin-left:20px;
        width:3em;
        height: 3em;
        border: 2px solid $black;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position:relative;

        .user-label{
            position:absolute;
            bottom:-1.1em;
            font-weight: 600;
            font-size:$fs7;
            font-family: $message-font-family;
            z-index: 12;
        }
    }

    .room-contact{
        // height: 43px;
        // width:4em;
        white-space: nowrap;
        text-align: start;
        // overflow: hidden;
        // text-overflow: ellipsis;

        .name {
            margin: 0 0 0 20px;
            font-family:'Montserrat', sans-serif;
            font-size: 11pt;
            color:$white;
        }
        .message {
            margin: 6px 0 0 20px;
            // font-family:'Montserrat', sans-serif;
            font-family: $message-font-family;
            font-size: 9pt;
            color:$white;
        }
    }
    .online{
        position: relative;
        top: 30px;
        left: 35px;
        width: 13px;
        height: 13px;
        background-color: #8BC34A;
        border-radius: 13px;
        border: 3px solid #FAFAFA;
        // border: 3px solid black;
    }

    .timer{
        height: 2em;
        width: 5em;
        margin-left: 10%;
        font-family:'Open Sans', sans-serif;
        font-size: 11px;
        white-space: nowrap;
        padding: 3px 8px;
        color:white;
        background-color: #515151 ;
        border: 1px solid $black;
        border-radius: 15px;
    }
}

.group{
    position: relative;
    justify-content: flex-start;
    color:$white;
    
    .group-sign{
        position: absolute;
        top:0em;
        left:.4em;
    }

    .active-icon{
        color:$color-hs-5;
    }


    .timer{
        position:absolute;
        right:.5em;
        margin-left: 15%;
    }
}

.active {
    width: 98.5%;
    width: 100%;
    height: 5.5em;
    background-color: $black-2;
    border-bottom: solid 3px $color-hs-5;;
    border-radius: 8px;

    position:relative;

    // &::before{
    //     content: '';
    //     // position:absolute;
    //     width:.4em;
    //     height: 100%;
    //     background-color: #87a3ec;
    // }

    // &::after{
    //     content: '';
    //     position:absolute;
    //     right:-.1em;
    //     width:.3em;
    //     height: 100%;
    //     // border-radius: 20px 0px 0px 20px;
    //     border-radius: 0px 20px 20px 0px;
    //     background-color: $color-hs-5;
    // }
}




