@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;
@use '../base/typography' as *;
@use '../abstracts/brakepoints' as *;

    .input-search{
        position:absolute;
        height: 80%;
        width:70%;
        left:26%;
        top: .5em;

        @include lg-breakpoint {
            position: unset;
            width:80%;
            padding:1em 0em;
            // top:0;
            // display: flex;
            // flex-direction: column;
            
        }

        .box-s{
            display: flex;
            justify-content: center;
            align-items: center;
            position:relative;
            height: 50%;
            width: 80%;
            max-width: 77em;
            top:25%;
            left:10%;

            .search{
                position:relative;
                width: 100%;
                height: 2.5em;
                border-radius: .4rem;

                background-color: $background-black-5;
                color:#ffff;
                box-shadow: 0 5px 15px $background-black-5;
                border:none;
                font-family: $root-font-family-1;
                font-size: .85em;
                font-weight: 600;
                padding-left:1em;

                &::placeholder{
                    color:$grey-2;
                }
            }

            button{
                position: absolute;
                right: .01rem;
                width:4.5em;
                height: 100%;
                
                border-radius: 0em .5em .5em 0em;
                border:none;
                font-weight: 600;

                @include lg-breakpoint {
                    height: 2.5em;
                }

                &:hover{
                    background-color: $white;
                    cursor: pointer;
                }
            }


        }
    }
    