@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;
@use '../base/typography' as *;
@use '../abstracts/brakepoints' as *;

    .input-search{
        position:absolute;
        height: 80%;
        width:70%;
        left:26%;
        top: .5em;

        @include lg-breakpoint {
            position: unset;
            width:90%;
            padding:1em 0em;
            
        }

        @include sm-breakpoint {
            font-size:$fs5;
        }



        .box-s{
            height: 50%;
            width: 80%;

            position:relative;
            // max-width: 77em;
            top:25%;
            left:10%;

            display: flex;
            justify-content: center;
            align-items: center;

            @include xs-breakpoint{
                width: 100%;
                left:0;
            }

            .search{
                position:relative;
                width: 100%;
                height: 2.5em;
                padding-left:1em;
                
                background-color: $background-black-5;
                box-shadow: 0 5px 15px $background-black-5;
                border:none;
                border-radius: .4rem;
                
                // font-family: $font-family-1;
                font-size: $fs-em-5;
                font-weight: 600;
                color:#ffff;


                &::placeholder{
                    color:$grey-2;
                }
            }

            button{
                position: absolute;
                right: .01rem;
                width:4.5em;
                height: 100%;
                
                border-radius: 0em .5em .5em 0em;
                border:none;
                font-weight: 600;

                @include lg-breakpoint {
                    height: 2.5em;
                }

                &:hover{
                    background-color: $white;
                    cursor: pointer;
                }
            }


        }
    }
    