
.search-box{
    position:relative;

    height: 5rem;
    width: 100%;
    margin:.8rem 0 .8rem 0;

    .input-search{
        position:absolute;
        height: 80%;
        width:80%;
        left:25%;
        top: 0;

        .box-s{
            display: flex;
            justify-content: center;
            align-items: center;
            position:relative;
            height: 50%;
            width: 80%;
            max-width: 77rem;
            top:25%;
            left:10%;

            .search{
                position:relative;
                width: 100%;
                height: 100%;
                opacity: .7;
            
                border-radius: .4rem;
            }

            button{
                position: absolute;
                right: .2rem;
                width:3.4rem;
                height: 1.7rem;
                font-weight: 600;

                &:hover{
                    background-color: rgb(192, 192, 192);
                    /* border:none; */
                    border:1px solid  black;
                }
            }


        }
    }
    
    
    
}

