@use '../abstracts/fonts' as *;
@use '../base/typography' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/brakepoints' as *;

.sort {
    position: relative;
    height: 80%;
    width: 16em;
    left:1.5em;
    top:40%;

    @include lg-breakpoint {
        position:unset;
        left:0;
        // top:0;
        // display: flex;
        // flex-direction: column;
    }

    &-box {
        .sort{
            width: 4.5em;
            height: 2.8em;
            padding:.1em .1em;
            margin:.1em;
            border-radius: 5px;
            border:none;
            font-family: $root-font-family-1;
            font-size: $fs6;

            text-align: center;

            background-color: $background-black-5;
            color:#ffff;
                
            box-shadow: 0 5px 15px $background-black-5;

            &:hover{
                background-color: $background-black-2;
                cursor: pointer;
            }
        
        }
        .selected{
            background-color: $grey-3;
            color:$black;
            font-weight: 500;

            &:hover{
                background-color: $grey-4;
            }
        }

        #sort-2{
            margin-right:.5rem;
        }
    }
}

