@use '../abstracts/fonts' as *;
@use '../base/typography' as *;
@use '../abstracts/mixins' as *;

.sort {
    position: relative;
    height: 80%;
    width: 16em;
    left:1.5em;
    top:40%;

    &-box {
        .sort{
            width: 4.5em;
            height: 2.8em;
            padding:.1em .1em;
            margin:.1em;
            border-radius: 5px;
            border:none;
            font-family: $root-font-family-1;
            font-size: $fs6;

            text-align: center;

            background-color: rgb(0,0,0,0.70);
            color:#ffff;
                
            box-shadow: 0 5px 15px rgba(0,0,0,.7);

            &:hover{
                // background-color: rgb(255, 204, 128);
                background-color: rgb(0,0,0,0.85);
                cursor: pointer;
            }
        
        }
        .selected{
            background-color: rgb(240, 171, 68);
            color:black;
            font-weight: 600;
        }

        #sort-2{
            margin-right:.5rem;
        }
    }
}

