// xs < 576px
// sm ≥ 576px
// md ≥ 768px
// lg ≥ 992px
// xl ≥ 1200px
// xxl ≥ 1400px

$xsBrakepoint: 412px;
$smBrakepoint: 576px;
$mdBrakepoint: 768px;
$lgBrakepoint: 992px;
$xlBrakepoint: 1200px;
$xxlBrakepoint: 1400px;


@mixin xs-breakpoint {
    @media only screen and (max-width: $xsBrakepoint){
        @content;
    }
}

@mixin sm-breakpoint {
    @media only screen and (max-width: $smBrakepoint){
        @content;
    }
}

@mixin md-breakpoint {
    @media only screen and (max-width: $mdBrakepoint){
        @content;
    }
}

@mixin lg-breakpoint {
    @media only screen and (max-width: $lgBrakepoint){
        @content;
    }
}

@mixin xl-breakpoint {
    @media only screen and (max-width: $xlBrakepoint){
        @content;
    }
}

@mixin xxl-breakpoint {
    @media only screen and (max-width: $xxlBrakepoint){
        @content;
    }
}

// @mixin xs-breakpoint {
//     @media only screen and (max-width: $xsBrakepoint){
//         @content;
//     }
// }

// @mixin sm-breakpoint {
//     @media only screen and (min-width: $smBrakepoint){
//         @content;
//     }
// }

// @mixin md-breakpoint {
//     @media only screen and (min-width: $mdBrakepoint){
//         @content;
//     }
// }

// @mixin lg-breakpoint {
//     @media only screen and (min-width: $lgBrakepoint){
//         @content;
//     }
// }

// @mixin xl-breakpoint {
//     @media only screen and (min-width: $xlBrakepoint){
//         @content;
//     }
// }

// @mixin xxl-breakpoint {
//     @media only screen and (min-width: $xxlBrakepoint){
//         @content;
//     }
// }


// // overview
// calc( min-font-size + ( ( max-font-size - min-font-size ) * ( 100vw - min-screen-width ) / ( max-screen-width - min-screen-width) ) )

// // actual usage
// calc( 16px + ( ( 24 - 16 ) * ( 100vw - 480 ) / ( 1280 - 480) ) )