//Houseworker card ligher/darker
$color-hs-6:#42488a;
$color-hs-5:#535aac;
$color-hs-4:#6e74b9;
$color-hs-3:#878cc5;
$color-hs-2:#a9add6;
$color-hs-1:#babdde;

//Gray
$white:#F8F8F8;
$white-smoke:#F5F5F5;
$grey-1:#E0E0E0;
$grey-2:#D8D8D8;
$grey-3:#C8C8C8;
$grey-4:#B0B0B0;
$grey-5:#989898;
$grey-6:#787878;
$grey-7:#686868;
$grey-8:#505050;
$grey-9: #383838;
$grey-10: #202020; //rgb(32,32,32)
$black:#080808;


$black-1:rgb(0,0,0);
$black-2:rgb(6,6,6);
$black-3:rgb(12,12,12);
$black-4:rgb(17,17,17);
$black-5:rgb(23,23,23);
$black-6:rgb(30,30,30);
$black-7:rgb(40,40,40);
$black-8:rgb(50,50,50);


$background-black-1:rgb(0,0,0,0.9);
$background-black-2:rgba(0, 0, 0, 0.85);
$background-black-3:rgba(0, 0, 0, 0.80);
$background-black-4:rgb(0,0,0,0.75);
$background-black-5:rgb(0,0,0,0.70);
$background-black-6:rgb(0,0,0,0.65);
$background-black-7:rgb(0,0,0,0.6);

$background-white-1: rgba(234, 234, 225, 0.233);
$background-white-2: rgba(234, 234, 225, 0.322);
$background-white-3: rgba(234, 234, 225, 0.432);
$background-white-4: rgba(234, 234, 225, 0.541);

$chat-mobile-header: rgba(7, 7, 7, 0.527);
$chat-mobile-background: rgba(59, 59, 59, 0.315); 


//nav
$nav-background-color:$black;
$nav-hover-color: #13a7ec;

$color-hs-label: $color-hs-4;
$color-hs-background:rgba(0,0,0,0.75);

$color-error: rgb(206, 33, 33, 1);
