$font-family-1:'Open Sans', sans-serif;
$font-family-2:'Raleway', sans-serif;
$font-family-3:'Montserrat Alternates', sans-serif;
$font-family-4:"Montaga", serif;

$message-font-family:'Montserrat Alternates', sans-serif;

// $base-font-size:convert-rem(16px); //1rem -> 16px
$base-font-wight:400;

$border-radisu-xsm:.6em;
$border-radius-sm:.8em;
$border-radius-md:1em;
$border-radius-lg:1.3em;

