//fonts
//Houseworker card fonts
// $hs-card-font:font-family;

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

$login-font-family: 'Signika', sans-serif;

$logo-font-family: 'MADE Soulmaze', sans-serif;
// $base-font-size:convert-rem(16px); //1rem -> 16px
$base-font-wight:400;

$border-radius-sm:.8rem;
$border-radius-md:1rem;
$border-radius-lg:1.3rem;
