//fonts
//Houseworker card fonts
// $hs-card-font:font-family;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

//login
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

$font-family-1:'Open Sans', sans-serif;
$font-family-2:'Raleway', sans-serif;
$font-family-3:'Montserrat Alternates', sans-serif;
//old font-family-8
$font-family-4:"Montaga", serif;

$message-font-family:'Montserrat Alternates', sans-serif;
// $logo-font-family: 'MADE Soulmaze', sans-serif;



// $base-font-size:convert-rem(16px); //1rem -> 16px
$base-font-wight:400;

$border-radisu-xsm:.6em;
$border-radius-sm:.8em;
$border-radius-md:1em;
$border-radius-lg:1.3em;

