
@mixin flex-with-direction($direction:column){
    display: flex;
    flex-direction: $direction;
}

@mixin flex-with-direction-center($direction:column){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}
