@use './fonts' as *;
@use '../base/typography' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;

%bg-image {
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

%nav-link-styles{
    font-family: $font-family-2;
    margin:.3rem;
    color:$white;
    letter-spacing: .08rem;
    font-weight: 700;
    font-size: .9em;
    transition:color .4s;
    text-decoration: none;

    &:hover{
        cursor:pointer;
    }
}

%profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

%profile-form-style {
    width: 100%;
    max-width: 1200px;

    margin:0rem 0rem 0rem 0rem;
    // padding:8em 0em 5em 0em;
    
    font-family: $font-family-2;
    color:#ffff;

    z-index: 10;
}

%profile-input-card-style{
    padding:.6em 1.4em;

    background-color: $black-3;
    font-family: $font-family-1;

    border-bottom: 3px solid white;
    border-radius: .5em;
    box-shadow: inset 0px 0px 5px 3px $black-1;
}

%input-style{
    // width: 80%;
    height: 2em;
    padding-left: .1em;

    font-size:$fs-em-5;

    border:none;
    background-color: transparent;
    outline: none;

    color:white;

    &::placeholder{
        color:white;
    }
}

%profile-profession-input-style{
    border:none;
    background-color: transparent;
    // border-bottom: 2px solid rgba(19, 16, 16, 0.466);
    border-bottom: 2px solid $white;
    border-radius: 4px;
    outline: none;
    font-size: $fs-em-5;
    color:$white;

    &::placeholder{
        color:$white;
    }
}

%input-label-and-span{
    & label{
        font-size: $fs-em-4;
        color:$grey-2;

        & span{
            font-size: $fs-em-3;
            font-weight: 700;
            color:$white;
        }
    }
}

%profile-input-container-style{
    label{
        font-size: 1.1rem;
    }

    input{
        margin:.1rem 0;
        border:none;
        background-color: transparent;
        border-bottom: 2px solid rgba(19, 16, 16, 0.466);
        outline: none;
        color:black;

        &::placeholder{
            color:black;
        }
    }

    //select
    .dropdown{
        color:red;
    }
}

%profile-submit-button{  
    display: flex;
    justify-content: center;

    .update-button{
        height: 2.5em;
        width: 6em;

        border:none;
        border-radius: $border-radisu-xsm;
        font-family: $font-family-3;
        background-color: $white;
        cursor: pointer;

        font-weight: 500;

        &:hover{
            background-color: $grey-2;
            font-weight: 550;
        }
    }
}

%profile-update-button{
    height: 3em;
    width: 100%;
    max-width: 400px;

    border:none;
    border-radius: $border-radisu-xsm;
    font-family: $font-family-3;
    font-weight: 500;
    background-color: $black-3;
    color:$white;

    cursor: pointer;

    &:hover{
        background-color: $grey-2;
        font-weight: 550;
        color:$black-1;
    }
}

%form-input-error{
    font-size: $fs6;
    color:rgba(207, 59, 59, 0.815);
    font-weight:500;
}
%form-label-input{
    margin:.5rem 0rem .4rem 0rem;
    font-weight: 600;
}

%scrollbar-chat-style{
    &::-webkit-scrollbar{
        width: 10px;
        height: 10px;
        cursor: pointer;
    }

    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background: linear-gradient(to left, #fff, #e4e4e4);
        background-color: #c9c9c9;
        // border: 1px solid #8d8d8d73;
    }

    &::-webkit-scrollbar-thumb:hover{
        background: rgb(235, 235, 235)
    }

    &::-webkit-scrollbar-thumb:active{
        background-color: $color-hs-4;
    }
}

%scrollbar-commnet-style{
    // cursor: pointer;
    &::-webkit-scrollbar{
        width: 10px;
        height: 10px;
        cursor: pointer;
    }

    &::-webkit-scrollbar-track{
        border-radius: 10px;
        // background: rgba(20, 20, 20, 0.13);
        background: linear-gradient(to left, #fff, #e4e4e4);
        background: rgba(5, 5, 5, 0.534);
        border: 1px solid #2c2c2cb7;
    }

    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: #f7f7f7d7;
        background-color: $black-5;
        border: 1px solid #8d8d8d73;
        cursor: pointer;
    }

    &::-webkit-scrollbar-thumb:hover{
        background: rgb(248, 246, 246);
        background-color: rgba(43, 43, 43, 0.911);
    }

    &::-webkit-scrollbar-thumb:active{
        // background: linear-gradient(to top, rgb(204, 204, 204), rgb(121, 121, 121));
        background-color: rgb(197, 197, 197);
        cursor: pointer;
    }
}

%chat-menu-item{
    display: flex;
    flex-direction: column;

    background-color: $grey-1;
    padding:0 .2em;
    margin:.2em 0;
    
    border-radius:$border-radisu-xsm;

    button{
        width: 8em;
        height: 2em;

        font-family: $font-family-2;

        border:none;
        border-radius:.5em;
        background-color: $grey-3;

        color:$black;
        font-weight: 600;

        &:hover{
            background-color: $grey-4;
        }

        &:disabled{
            font-weight: 100;
            background-color: $grey-3;
        }

        cursor: pointer;
    }
}

%chat-date-hidden{
    text-align: center;
    font-family: $font-family-1;
    font-size:$fs-em-6;
    color:$white;

    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity .2s ease, transform .3s ease;
}

%chat-date-visible{
    visibility: visible;
    opacity: 1;
    transform:translateY(0);
}


%avatar-form-style{
    .form-group{
        display: flex;
        flex-direction: column;
        align-items: center;

        #inputFile{
            display: none; //default chooseFile unshowned
        }

        .custom-file-button{

            padding:.4em .7em ;
            margin:0em 0 .3em 0;
            
            font-size: $fs6;
            color:$grey-4;
        
            background-color: rgb(34, 34, 34);
            border: none;
            cursor: pointer;
            border-radius: .2rem;

            &:hover{
                background-color: rgb(0, 0, 0);
            }
        }

        .avatar-place{
            margin:.2rem 0rem;
            display: flex;
            flex-direction: column;
        }
        .avatar-preview-container{
            @include flex-with-direction-center($direction:column);

            &{
                img{
                    width: 90%;
                    max-width: 200px;
                    max-height: 250px;
                }
            }
        
        }

        .remove-avatar-btn{
            margin-top:.4rem;
            padding:.5em .7em;
            background-color: rgb(34, 34, 34);
            color:$grey-4;
            border: none;
            cursor: pointer;
            border-radius: .2rem;

            &:hover{
                background-color: rgb(214, 214, 205);
            }
        }

    }
}

%unread-message-style{
    color:rgb(179, 7, 7);
    width: 20px;
    height: 20px;
    background-color: white;
    text-align: center;
    border:none;
    border-radius: 10%;
}