@use './fonts' as *;
@use '../base/typography' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;

%bg-image {
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

// image-one {
//     @extend %bg-image;
//     background-image:url(/img/image-one.jpg");
// }

// .image-two {
//     @extend %bg-image;
//     background-image:url(/img/image-two.jpg");
// }


//Header links
%nav-link-styles{
    font-family: $root-font-family-2;
    margin:.3rem;
    color:white;
    letter-spacing: .08rem;
    font-weight: 700;
    font-size: .9rem;
    transition:color .4s;
    text-decoration: none;

    &:hover{
        // color:
        cursor:pointer;
    }
}


//Profile 
%profile-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

%profile-form-style 
{
    position:relative;
    margin:1rem 0rem 0rem 0rem;
    padding:1.4rem 1rem;
    
    width: 40%;
    max-width: 500px;
    min-width:450px;

    @include flex-with-direction-center($direction:column);
    border-radius: 1rem;

    background-color: rgba(218, 228, 238, 0.8);

    background-color: rgb(0,0,0,0.8);
    color:#ffff;
    box-shadow: 0 5px 15px rgba(0,0,0,.7);

    display: flex;
    flex-direction: column;
    z-index: 10;
}

%input-style{
    border:none;
    background-color: transparent;
    border-bottom: 2px solid rgba(235, 230, 230, 0.466);
    outline: none;

    color:white;

    &::placeholder{
        color:white;
    }
}

%profile-input-container-style{
    label{
        font-size: 1.1rem;
    }

    input{
        // @extend %input-style;

        margin:.1rem 0;
        border:none;
        background-color: transparent;
        border-bottom: 2px solid rgba(19, 16, 16, 0.466);
        outline: none;
        color:black;

        &::placeholder{
            color:black;
        }
    }

    //select
    .dropdown{
        color:red;
    }
}


//////////////
%form-input-error{
    font-size: $fs6;
    color:rgb(204, 8, 8);
    font-weight:600;
}
%form-label-input{
    margin:.5rem 0rem .4rem 0rem;
    font-weight: 600;
}

%scrollbar-chat-style{
    &::-webkit-scrollbar{
        width: 10px;
        height: 10px;
        cursor: pointer;
    }

    &::-webkit-scrollbar-track{
        border-radius: 10px;
        background: rgba(20, 20, 20, 0.13);
        border: 1px solid #ccc;
    }

    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background: linear-gradient(left, #fff, #e4e4e4);
        background-color: #a5a4a4;
        border: 1px solid #8d8d8d73;
    }

    &::-webkit-scrollbar-thumb:hover{
        background: rgb(122, 122, 122)
    }

    &::-webkit-scrollbar-thumb:active{
        background: linear-gradient(left, #22ADD4, #1E98BA);
    }
}

%scrollbar-commnet-style{
    &::-webkit-scrollbar{
        width: 10px;
        height: 10px;
        cursor: pointer;
    }

    &::-webkit-scrollbar-track{
        border-radius: 10px;
        // background: rgba(20, 20, 20, 0.13);
        background: linear-gradient(left, #fff, #e4e4e4);
        background: rgba(255, 255, 255, .3);
        border: 1px solid #ccc;
    }

    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        // background: linear-gradient(left, #fff, #e4e4e4);
        // background: rgba(20, 20, 20, 0.13);
        background: rgba(255, 255, 255, .8);
        background-color: #f7f7f7d7;
        border: 1px solid #8d8d8d73;
    }

    &::-webkit-scrollbar-thumb:hover{
        background: rgb(248, 246, 246)
    }

    &::-webkit-scrollbar-thumb:active{
        background: linear-gradient(left, #22ADD4, #1E98BA);
    }
}

%chat-menu-item{
    display: flex;
    flex-direction: column;

    background-color: $grey-1;
    padding:0 .2em;
    margin:.2em 0;
    
    border-radius:$border-radisu-xsm;

    button{
        width: 8em;
        height: 2em;

        font-family: $root-font-family-2;

        border:none;
        border-radius:.5em;
        background-color: $grey-3;

        color:$black;
        font-weight: 600;

        &:hover{
            background-color: $grey-4;
        }

        &:disabled{
            font-weight: 100;
            background-color: $grey-3;
        }

        cursor: pointer;
    }
}




