@use './fonts' as *;
@use '../base/typography' as *;
%bg-image {
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

// image-one {
//     @extend %bg-image;
//     background-image:url(/img/image-one.jpg");
// }

// .image-two {
//     @extend %bg-image;
//     background-image:url(/img/image-two.jpg");
// }


//Header links
%nav-link-styles{
    font-family: $root-font-family-2;
    margin:.3rem;
    color:white;
    letter-spacing: .08rem;
    font-weight: 700;
    font-size: .9rem;
    transition:color .4s;
    text-decoration: none;

    &:hover{
        // color:
        cursor:pointer;
    }
}


//Profile 
%profile-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

%profile-form-style 
{
    position:relative;
    margin:1rem 0rem 0rem 0rem;
    padding:1.4rem 1rem;
    
    width: 40%;
    max-width: 500px;
    min-width:400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

    background-color: rgba(218, 228, 238, 0.8);

    display: flex;
    flex-direction: column;
    z-index: 10;
}

%input-style{
    border:none;
    background-color: transparent;
    border-bottom: 2px solid rgba(19, 16, 16, 0.466);
    outline: none;
    color:black;

    &::placeholder{
        color:black;
    }
}

%profile-input-container-style{
    label{
        font-size: 1.1rem;
    }

    input{
        // @extend %input-style;

        margin:.1rem 0;
        border:none;
        background-color: transparent;
        border-bottom: 2px solid rgba(19, 16, 16, 0.466);
        outline: none;
        color:black;

        &::placeholder{
            color:black;
        }
    }

    //select
    .dropdown{
        color:red;
    }
}


//////////////
%form-input-error{
    font-size: $fs6;
    color:rgb(204, 8, 8);
    font-weight:600;
}
%form-label-input{
    margin:.5rem 0rem .4rem 0rem;
    font-weight: 600;
}




