@use '../../abstracts/mixins' as *;
@use '../../abstracts/colors' as *;
@use '../../abstracts/fonts' as *;
@use '../../abstracts/brakepoints' as *;
@use '../../abstracts/keyframes' as *;

.register-container{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    background-color: $background-black-9;

    .register-options{
        width: 100%;
        height: 25vh;
        
        @include flex-with-direction-center();

        @include xs-breakpoint{
            height: 100%;
            flex-direction: column-reverse;
        }

        .register-item{
            max-width: 15rem;            
            margin:0em 2em;

            animation: popLight 0.8s ease-out;

            @include sm-breakpoint{
                margin:0 1em;
            }

            @include xs-breakpoint{
                margin:3em 0em 6em 0em;
                max-height: 10em;
                max-width: 12rem;
            }

            .register-link{
                @include flex-with-direction-center($direction:column);

                text-decoration: none;
                border-radius: .8em;

                &:hover{
                    background-color: $background-black-8;
                }

                .avatar-container{
                    padding:1.5em 0;
                
                    & picture{
                        @include flex-with-direction-center($direction:column);
                        width: 100%;
                        height: 100%;

                        .avatar{
                            opacity: .85;
                            width: 80%;
                            height: 80%;
                            object-fit: cover;
                            border-radius: 8px;
                        }
                    }

                    @include xs-breakpoint{
                        padding:.8em 0;

                        .avatar{
                            min-width: 140px;
                            min-height: 140px;
                        }
                    }
                    
                }

                .register-label{
                    padding-bottom: .5em;

                    font-family: $font-family-2;
                    font-size: 1.2em;
                    font-weight: 700;
                    color:$grey-3;

                    animation-duration: 0.5s;
                    animation-timing-function: ease-out;
                    animation-delay: 0.1s;
                    animation-fill-mode: forwards;

                    @include xs-breakpoint{
                        font-size:1.1em;
                    }

                    &-left {
                        animation: slideLeft;
                    }
                    
                    &-right {
                        animation: slideRight;
                    }
                }
            }
        }

    }

}
