@use '../../base/typography' as *;
@use '../../abstracts/mixins' as *;
@use '../../abstracts/brakepoints' as *;
@use '../../abstracts/colors' as *;

.register-user-container{
    z-index: 10;
    
    .client-form{
        min-width: 400px;
        max-width: 450px;
        
        background-color: $black-3;

        @include xs-breakpoint{
            width: 100%;
            min-width: 200px;
        }
    }
}

form{
    .cl-form-inputs{
        padding-left: 2em;
        @include flex-with-direction-center($direction:column);    

        @include xs-breakpoint{
            width: 100%;
            padding:0em 1em;
        }

        .client-inputs{
            @include xs-breakpoint{
                width: 100% !important;
            }
        }
    }

    .interest-container{
        margin:.2em 0;
    }
}