@use '../../abstracts/placeholders' as *;
@use '../../abstracts/mixins' as *;
@use '../../abstracts/fonts' as *;
@use '../../abstracts/colors' as *;
@use '../../base/typography' as *;
@use '../../abstracts/brakepoints' as *;
@use '../../abstracts/keyframes' as *;

.register-user-container{
    background-color: $background-black-9;
    color:$grey-2;
    min-height: 100vh;

    padding:4rem 0rem;
    @include flex-container($direction:column ,$justify:space-evenly, $align:center);
    
    form{
        font-family: $font-family-2;
        width: 60%;
        margin-top:2em;
        padding:1.4rem 1rem;

        box-shadow: 1px 1px 16px 10px rgba(68, 68, 68, 0.65);
        @include flex-with-direction-center($direction:column);        
        
        border-radius: 1rem;
        background-color: $black-4;
        color:$grey-1;

        opacity:0;
        animation: slideUp .3s ease-in forwards;
        // 'forwards' ensures that the element keeps the final state of the animation
        // (in this case, opacity: 1 from the end of the slideUp keyframes) after the animation finishes.

        .form-title{
            font-size:$fs1;
            font-family: $font-family-1;
            font-weight: 700;
            padding-bottom: 1rem;        

            @include xs-breakpoint{
                font-size:$fs2;
            }
        }

        .form-inputs{
            width: 100%;
            display: flex;

            .register-box{
                width: 80%; 

                &-input{
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    margin:.4rem 0;

                    .input-lab{
                        margin-left: .5em;
                        font-weight: 700;
                        
                    }
                }
            }

            .selectors{
                padding:em 0 0 0;
            }

            .input-lab{
                font-size:$fs5;
            }

            .form-input{
                .input-field{
                    color:$white;

                    &::placeholder{
                        color:$grey-4;
                    }
                
                }
            }
        }

        .label-input{
            @extend %form-label-input;
        }

        .input-error{
            @extend %form-input-error;
        }

        .register-input-container{
            padding:0em .5rem;
        }

        .city-container{            
            .select-box{
                width: 12em;
            }
        }

        .gender-container{
            //do smth
            @include flex-with-direction-center($direction:column);

            .gender-option{
                font-family: $font-family-2;
                width: 9.2em;
                height: 1.7rem;
                text-align: center;
                cursor: pointer;
            }
        }

        .avatar-container{
            margin:.4em 0;
            @include flex-with-direction-center($direction:column);
            @extend %avatar-form-style;
        }

        .register-button-container{
            padding: 1rem 1.2rem;

            button{
                border-radius: 1rem;
                height: 2.2rem;
                width: 7rem;
                font-weight: 600;
            
                border: none;
                background-color: $grey-4;
                color:$black-2;
            
                cursor: pointer;

                &:hover{
                    background-color: $grey-8;
                    color:$grey-3;
                }
            }
        }

    }

}

