@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;
@use '../abstracts/placeholders' as *;
@use '../abstracts/brakepoints' as *;
@use '../base/typography' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/keyframes' as *;

.profile-container{
    @include flex-with-direction-center($direction:column);
    min-height: 90vh;
    padding:8rem 0em;
    // width: 100vw;
    width: 100%;
    background-color: $background-black-9;

    @include sm-breakpoint{
        font-size: $fs5;
        padding:7rem 0em;
    }

    .profile-spinner{
        position:absolute;
        top:40%;
    }

    .cl-profile-form{
        @extend %profile-form-style;
        @include flex-with-direction-center($direction:column);
        
        animation: slideRight .4s ease-in forwards;

        @include sm-breakpoint{
            width: 100%;
            font-size: $fs5;
        }

        @include xs-breakpoint{
            font-size: $fs5;
        }

        & h1{
            margin:0em 0 2em 0;
            letter-spacing: .02em;
            font-size:$fs-em-1;
            font-family: $font-family-3;
            color:$black-2;
            text-align: center;
        }

        .input-label-form{
            @include flex-with-direction-center($direction:column);
            width: 90%;
            max-width: 1000px;
            height: 100%;

            padding:1em 0 0 0;

            @include sm-breakpoint{
                width: 95%;
            }

            @include xs-breakpoint{
                width: 100%;
            }

            .profile-input-card{
                position:relative;
                width: 90%;
                margin:.2em 0em;
                @extend %profile-input-card-style;
        
                @include xs-breakpoint{
                    width: 95%;
                    height: 4.7em;
                }

                .personal-label{
                    position: absolute;
                    left:0;
                    top:-2em;
    
                    font-size: $fs-em-3;
                    font-weight: 500;
                    // color:black;
    
                    @include sm-breakpoint{
                        font-size:$fs-em-4;
                    }
                }

                @extend %input-label-and-span;

                .input-field{
                    @extend %input-style;
                }

                .dropdown{
                    color:$black;
                    width: 70%;     
                    height: 100%;
                }
                .input-errors{
                    @extend %form-input-error;

                    @include xs-breakpoint{
                        font-size: $fs-em-4;
                        height: 2.6em;
                    }
                }

            }

            .profile-avatar{
                width: 300px;
                margin-bottom: 1em;
                padding: .5em 0em;

                background-color:$background-white-1;
                border-radius: 8px;

                @include xs-breakpoint{
                    padding: .1em 0em;
                    //clamp(min, preferred, max)
                    width: clamp(150px, 90%, 300px);
                }
            }

            .profile-submit{    
                display: flex;
                justify-content: center;
                width: 50%;

                .update-button{
                    @extend %profile-update-button;
                }
            }
        }

    }


}

