@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;
@use '../abstracts/placeholders' as *;
@use '../abstracts/brakepoints' as *;
@use '../base/typography' as *;
@use '../abstracts/mixins' as *;

.profile-container{
    @extend %profile-container;
    background-color: $background-white-2;


    .profile-spinner{
        padding:10em 0em;
    }
   
    & h1{
        font-family: $root-font-family-3;
        letter-spacing: .02em;
        color:$white;

        @include sm-breakpoint{
            font-size:1.6rem;
        }
        @include xs-breakpoint{
            font-size:1.2rem;
        }    
    }

    .cl-profile-form{
        @extend %profile-form-style;

        @include sm-breakpoint{
            width: 90%;
            min-width:250px;
        }

        @include xs-breakpoint{
            width: 95%;
        }

        .input-label-form{
            display: flex;
            flex-direction: column;

            @include sm-breakpoint{
                width: 90%;
            }

            @include xs-breakpoint{
                font-size: $fs5;
            }

            .profile-input-container{
                padding:.6em 1em;

                @include xs-breakpoint{
                    padding: .5em .4em;
                }

                label{
                    font-size: 1.1em;
                }

                input{
                    width: 100%;
                    @extend %input-style;
                }

                //select
                .dropdown{
                    color:$black;
                }

                .input-errors{
                    @extend %form-input-error;
                }

            }

            .profile-submit{    
                @extend %profile-submit-button;
            }
        }

    }


}

