@use '../base/typography' as *;
@use '../abstracts/fonts' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/placeholders' as *;
@use '../abstracts/brakepoints' as *;

.comments-container{
    height: 100vh;
    position: relative;
    @include flex-with-direction-center($direction:column);

    .comment-card{
        width: 80%;
        min-width: 500px;
        max-width: 1000px;

        padding: 1em .1em;
        border-radius: .5em;
        
        background-color: rgba(236, 236, 236, 0.952);

        @include md-breakpoint{
            width: 95%;
            font-size:$fs4;
        }

        @include sm-breakpoint{
            width: 100%;
            min-width: 280px;
            padding: .5em 0em;
        }
        
        .context-container{
            width: 100%;
            @include flex-with-direction-center($direction:column);

            .comment-list{
                width: 100%;;
                height: 600px;
                max-height: 80vh; /* Set a maximum height */
                font-size:$fs4;
                overflow-y:auto;
                overflow-anchor: none;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                // position: sticky; //not needed for scrolling a container from top

                @extend %scrollbar-commnet-style;

                @include md-breakpoint{
                    font-size:$fs5;
                }

                @include sm-breakpoint{
                    font-size:$fs6;
                }

                .target-observer{
                    width: 0px;
                    height: 1px;
                    visibility: hidden;
                }
            }
        }
    }

    .no-hs-comments{
        padding:8rem 0;
        font-family: $font-family-2;
        font-size: 2rem;
        font-weight: 700;
        color:$black;
    }
}

.no_commentsModal{
    font-weight: 600;
    font-size:1.5rem;
    margin: 1.3rem 0;
}

