@use '../base/typography' as *;
@use '../abstracts/fonts' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/placeholders' as *;
@use '../abstracts/brakepoints' as *;

.comments-container{
    position: relative;
    height: 100%;
    @include flex-with-direction-center($direction:column);
    
    background-color: $background-white-2;


    & h1{
        margin-bottom: .5em;
        font-family:$root-font-family-1;
        font-weight: 700;
        font-size:1.8rem;

        @include sm-breakpoint{
            font-size:1.6em;
        }
        
        @include xs-breakpoint{
            font-size: 1.4em;
            margin-bottom: .5em;
        }
    }

    .comment-card{
        width: 80%;
        min-width: 500px;
        max-width: 1000px;

        padding: 1em .5em;

        background-color: $background-white-4;
        border-radius: .5em;

        @include md-breakpoint{
            width: 95%;
            font-size:$fs4;
        }

        @include sm-breakpoint{
            width: 100%;
            min-width: 280px;
        }

        @include xs-breakpoint{
            // padding:.3em;
        }
        
        .context-container{
            width: 100%;
            @include flex-with-direction-center($direction:column);

            .comment-list{
                max-height: 70vh; /* Set a maximum height */
                // width: 100%;
                @extend %scrollbar-commnet-style;
                overflow-y:auto;

                display: flex;
                flex-direction: column;
                align-items: center;

                font-size:$fs4;
                @include md-breakpoint{
                    font-size:$fs5;
                }

                @include sm-breakpoint{
                    font-size:$fs6;
                }
            }
        }
    }

    .no-hs-comments{
        padding:8rem 0;

        font-family: $root-font-family-2;
        font-size: 2rem;
        font-weight: 700;
        color:$black;
    }
}


.no_commentsModal{
    font-weight: 600;
    font-size:1.5rem;
    margin: 1.3rem 0;
}

