@use '../base/typography' as *;
@use '../abstracts/fonts' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/placeholders' as *;
@use '../abstracts/brakepoints' as *;

.comments-container{
    position: relative;
    height: 100vh;
    @include flex-with-direction-center($direction:column);

    .comment-card{
        width: 80%;
        min-width: 500px;
        max-width: 1000px;

        padding: 1em .5em;

        background-color: rgba(255, 255, 255, 0.753);

        border-radius: .5em;

        @include md-breakpoint{
            width: 95%;
            font-size:$fs4;
        }

        @include sm-breakpoint{
            width: 100%;
            min-width: 280px;
        }
        
        .context-container{
            width: 100%;
            @include flex-with-direction-center($direction:column);

            .comment-list{
                width: 100%;;
                max-height: 80vh; /* Set a maximum height */
                @extend %scrollbar-commnet-style;
                overflow-y:auto;

                display: flex;
                flex-direction: column;
                align-items: center;

                font-size:$fs4;
                @include md-breakpoint{
                    font-size:$fs5;
                }

                @include sm-breakpoint{
                    font-size:$fs6;
                }
            }
        }
    }

    .no-hs-comments{
        padding:8rem 0;
        font-family: $root-font-family-2;
        font-size: 2rem;
        font-weight: 700;
        color:$black;
    }
}


.no_commentsModal{
    font-weight: 600;
    font-size:1.5rem;
    margin: 1.3rem 0;
}

