@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;
@use '../base/typography' as *;
@use '../abstracts/brakepoints' as *;
@use '../abstracts/mixins' as *;

.page-conainer{
    width: 100%;
    min-height: 100vh;
    @include flex-with-direction-center($direction:column);

    .profile-spinner{
        position:absolute;
        top:40%;
    }
    .houseworker-container{
        width: 100%;
        height: 100%;
        // max-width: 1200px;
        font-family: $font-family-3;

        .info-client-section{
            padding: 1em 1em 0em 1em;
            max-height: 300px;
            
            display: flex;
            flex-direction: row;

            border-bottom:1px solid #D6D6D6;

            .info-content-container{
                flex:60%;
                padding:2em 0em 4em 0em;
                color:$white;

                .title-text-container{
                    font-size: 1.8em;
                    font-weight: 500;
                    letter-spacing: .05em;

                    @include xs-breakpoint{
                        font-size: 1.5em;
                    }

                    & span{
                        font-weight: 700;
                        font-size: $fs-em-3;
                    }
                }

                .other-info{
                    font-size: $fs-em-6;
                    padding: .8em 0em 4em 0em;
                }
            }

            .image-container{
                flex:40%;
                min-width:250px;
                color:$white;
                
                display: flex;
                align-items: center;
                justify-content: center;

                @include sm-breakpoint{
                    display:none;
                }
            }
        }

        .insight-info-section{
            width: 100%;
            display: flex;
            flex-direction: column;
            border-bottom:1px solid #D6D6D6;
            
            .welcome-and-rating{
                display: flex;
                flex-direction: row;
                padding:2em 1em;

                .welcome{
                    padding:0em 0em 1em 0em;
                    flex:80%;
                    justify-content: flex-end;
    
                    color:$white;

                    #first-message{
                        font-size: $fs-em-3;
                        padding-bottom: .5em;

                        & span{
                            font-weight: 700;
                        }
                    }
                }

                .rating-box{
                    @include flex-container($direction:column , $justify:center, $align:flex-end);
                    flex:10%;
                    padding-right:1em;

                    .rate-box-container{
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        font-size:$fs-em-4;
                        position: relative;
                        

                        #rate-label{
                            position:absolute;
                            top:-1.4rem;
                            width: 5em;
                            text-align: center;
                            color:$white;
                            font-family: $font-family-3;
                            font-size: $fs-em-5;
                        }

                        .rate-box{
                            height: 2.6rem;
                            width: 4.5rem;
                            @include flex-with-direction-center($direction:column);
                            color:$white;
                            background-color: $color-hs-6;
                            border-radius: 8px;

                            font-size: $fs-em-1;

                            @include xs-breakpoint{
                                height: 2.2rem;
                                width: 4.2rem;
                                font-size: $fs-em-2;
                            }
                            
                            .rate{
                                text-align: center;
                                display: flex;
                                justify-content: center;
                                font-family: $font-family-3;

                                & span{
                                    padding-left: 3px;
                                    padding-top:1px;
                                    font-size: 1.4rem;
                                }
                            }
                        }

                    }
                }
            }
            
            .insight-container{
                width: 100%;
                padding:0em 1em 3em 1em;

                display: flex;
                justify-content: space-evenly;
                gap:1em;

                @include sm-breakpoint {
                    display:grid;
                }

                @include lg-breakpoint{
                    gap:.5em;
                    padding:0em .5em 3em .5em;
                }

                .insight-card{
                    max-width: 280px;
                    height: 4.2em;
                    display: flex;
                    flex:30%;
                    align-items: center;
                    
                    padding:1em 1em;
                    
                    border:1px solid black;
                    background-color: $white;
                    $color:$black;
                    font-family: $font-family-3;

                    .count-info{
                        margin-right: .5em;
                        font-size: 2.3em;
                        font-weight: 600;
                    }

                    .desc-info{
                        font-size: $fs5;
                        font-weight: 600;
                    }
                }
            }
        }

        .professions-section{
            color:$white;
            padding:1em 0em;
        
            .professions-section-title{
                padding:1em;
                display: flex;
                // align-items: center;
                justify-content: center;
                text-align: center;

                font-family: $font-family-3;
                font-size: $fs1;
                font-weight: 500;
            }

            .profile-professions-container{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                gap:.5em;
                padding: 1em .4em;
            }
        }
        

    }
}