@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/placeholders' as *;
@use '../abstracts/fonts' as *;
@use '../base/typography' as *;

.profile-container{
    // width: 100%;
    // height: 100%;

    // min-height: 100vh; // Ensure at least viewport height
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    margin:4em 0 2em 0;

    .profile-spinner{
        padding:10em 0em;
    }

    #title{
        font-size: $fs1;
        font-family:$root-font-family-2;
        font-weight: 800;
        margin:.2em 0 1.5em 0;
    }

    .hs-profile-form{
        @extend %profile-form-style;

        .dropdown{
            width: 90%;
            font-size:$fs5;
            color:black;
        }
    
        .professions{
            border: 2px solid black;
            border-radius: 6px;
            padding:1em;
            margin: 1em 2em;
            width: 90%;
            display: flex;
            flex-direction: column;
            position:relative;

            #professions-label{
                font-weight: 800;
                position:absolute;
                top:-1.3em;
                left:-.1em;
            }

            label{
                font-size:$fs6;
            }

            .profession-changing{
                //PH
                margin-left:1em;

                .profession-input-container{
                    margin:.2em 0em;
                    input{
                        //
                        // background-color:rebeccapurple;
                        @extend %input-style;
                    }

                    .action-buttons{
                        display: flex;
                    
                        // background-color: $color-hs-2;
                        // color:white;
                        .change-profession{
                            button{
                                //@include profession-button-styles(rgb(121, 119, 247));
                                @include profession-button-styles(black, $color-hs-5);
                                
                                &:disabled{
                                    background-color: rgba(0,0,0,.2);
                                    border: 1px solid black;
                                    color:white;
                                    font-weight: 600;
                                    cursor:unset;
                                }
                            }
                        
                        }
        
                        .delete-profession{
                            button{
                                @include profession-button-styles(black,$color-hs-5);
                            }
                        }
                    }
                
                }
            }

            .profession-adding{
                margin:.2em 0 0 1em;

                .dropdown{
                    margin-bottom: .5em;
                }

                #enter-hs-wr{
                    color:$color-hs-5;
                    margin:3em 0em;
                    font-family: $root-font-family-2;
                    font-size: $fs4;
                }

                .working-hours{
                    margin:.2em 0 .2em 0;
                    
                    label{
                        margin-right: .5rem;
                        font-size: $fs5;
                    }
                    
                    input{
                        @extend %input-style;
                        text-align: center;
                        width: 4em;
                    }
                }

                .profession-add{
                    button{
                        @include profession-button-styles(black,$color-hs-5);
                        width: 5em;
                        height: 1.9em;
                    }
                }
            }
        }

        .input-label-form {
            border: 2px solid black;
            border-radius: 6px;
            padding:1em;
            margin: 2em 2em;
            width: 90%;
            display: flex;
            flex-direction: column;
            position:relative;
            font-family: $root-font-family-1;

            #personalInfo-label{
                font-weight: 800;
                position:absolute;
                top:-1.3em;
                left:-.1em;
            }

            .profile-input-container{
                padding:.5em 1.5em;
                position:relative;
                //

                label{
                    font-size: $fs4;

                    span{
                        font-size: $fs3;
                        font-weight: 700;
                    }
                }

                .input-errors{
                    @extend %form-input-error;
                }

                input{
                    @extend %input-style;
                    width:70%;
                }

                //select
                .dropdown{
                    color:$black;
                }

                textarea{
                    resize:none;
                    &::placeholder {
                        color:black;
                    }

                    &:focus::placeholder{
                        color:transparent;
                    }
                }
            }

            .profile-submit{
                width: 8rem;
                height: 1.7rem;
                align-self: center;
                margin-left: 4rem;
            }
        }
    }
}

.recommendedBtn{
    margin:10rem;
}

