@use '../abstracts/mixins' as *;
@use '../abstracts//colors' as *;
@use '../abstracts/placeholders' as *;
@use '../abstracts/fonts' as *;
@use '../base/typography' as *;

.profile-container{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    width: 100%;
    height: 100%;
    margin:4em 0 0 0;

    #title{
        font-size: $fs1;
        font-family:$root-font-family-2;
        font-weight: 800;
        margin:.2em 0 1.5em 0;
    }

    .hs-profile-form{
        @extend %profile-form-style;

        .dropdown{
            width: 90%;
            font-size:$fs5;
            
        }
    
        .professions{
            border: 2px solid black;
            border-radius: 6px;
            padding:1em;
            margin: 1em 2em;
            width: 90%;
            display: flex;
            flex-direction: column;
            position:relative;

            #professions-label{
                font-weight: 800;
                position:absolute;
                top:-1.3em;
                left:-.1em;
            }

            label{
                font-size:$fs6;
            }

            .profession-changing{
                //PH
                margin-left:1em;

                .profession-input-container{
                    input{
                        //
                        // background-color:rebeccapurple;
                        @extend %input-style;
                    }

                    .action-buttons{
                        display: flex;
                    
                        .change-profession{
                            button{
                                @include profession-button-styles(blue);
                            }
                        
                        }
        
                        .delete-profession{
                            button{
                                @include profession-button-styles(red);
                            }
                        }
                    }
                
                }
            }

            .profession-adding{
                margin:.2em 0 0 1em;


                label{

                }

                .working-hours{
                    margin:0em 0 .2em 0;
                    
                    //PH
                    label{
                        margin-right: .5rem;
                    }
                    
                    //PH
                    input{
                        @extend %input-style;
                        width: 4em;
                    }
                }

                .profession-add{
                    button{
                        @include profession-button-styles($color-hs-5);
                    }
                }
            }
        }

        .input-label-form {
            border: 2px solid black;
            border-radius: 6px;
            padding:1em;
            margin: 2em 2em;
            width: 90%;
            display: flex;
            flex-direction: column;
            position:relative;
            font-family: $root-font-family-5;

            #personalInfo-label{
                font-weight: 800;
                position:absolute;
                top:-1.3em;
                left:-.1em;
            }

            .profile-input-container{
                padding:.5em 1.5em;
                position:relative;
                //

                label{
                    font-size: $fs4;

                    span{
                        font-size: $fs3;
                        font-weight: 600;
                    }
                }

                .input-errors{
                    @extend %form-input-error;
                }

                input{
                    @extend %input-style;
                    width:70%;
                }

                //select
                .dropdown{
                    color:$black;
                }

                textarea{
                    resize:none;
                    &::placeholder {
                        color:black;
                    }

                    &:focus::placeholder{
                        color:transparent;
                    }
                }
            }

            .profile-submit{
                width: 8rem;
                height: 1.7rem;
                align-self: center;
                margin-left: 4rem;
            }
        }

    
    }
}


.recommendedBtn{
    margin:10rem;
}

