@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/placeholders' as *;
@use '../abstracts/fonts' as *;
@use '../base/typography' as *;
@use '../abstracts/brakepoints' as *;

.hs-profile-container{
    @include flex-with-direction-center($direction:column);
    min-height: 100vh;
    // margin:5em 0 3em 0;
    background-color: $background-white-2;

    .profile-spinner{
        position:absolute;
        top:40%;
    }


    @include sm-breakpoint{
        // background-color: red;
    }

    @include xs-breakpoint{
        font-size:$fs6;
        // background-color: green;
    }


    #title{
        margin:.2em 0 1.5em 0;
        
        text-align: center;
        font-size: $fs-em-1;
        font-family:$root-font-family-2;
        font-weight: 800;
        color:$black-6;

        & span{
            color:$black-1;
        }

        @include xs-breakpoint{
            // font-size: $fs-em-3;
            margin:0em 0 1.5em 0;
        }
    }

    .hs-profile-form{
        @extend %profile-form-style;
        padding:7em 0em 5em 0em;

        @include flex-with-direction-center($direction:column);

        @include sm-breakpoint{
            width: 90%;
            min-width: 200px;
        }

        @include xs-breakpoint{
            width: 95%;
            // padding:1em 0em;
        }

        .section-label{
            position:absolute;
            top:-1.5em;
            left:-.1em;
            
            font-family: $root-font-family-3;
            font-weight: 800;
            font-size: $fs-em-4;
            color:$black-1;

        }
        
        .dropdown{
            width: 90%;
            font-size:$fs-em-5;
            color:$black;
        }

        .professions{
            position:relative;
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;

            // border: 2px solid $black;
            border-radius: 6px;
            padding:1.5em .5em;
            margin: 1em 2em;

            background-color: $background-white-3;

            @include sm-breakpoint{
                // background-color: red;
                width: 100%;
                padding:1em 0em;
                margin: 1em 0em;
            }

            @include xs-breakpoint{ 
                // padding:.5em .5em;
            }
            //_houseworkerProfessions.scss
        }

        .input-form {
            position:relative;
            @include flex-with-direction-center($direction:column);
            width: 90%;
            height: 100%;

            padding:1.5em;
            margin: 2em 2em 0em 2em;

            border-radius: 6px;
            font-family: $root-font-family-1;

            background-color: $background-white-4;

            @include sm-breakpoint{
                width: 100%;
                padding:.8em .7em;
            }

            .profile-input-card{
                width: 100%;
                @extend %profile-input-card-style;
            
                @include xs-breakpoint{
                    padding:.5em .7em;
                }

                @extend %input-label-and-span;
                & input{
                    width: 80%;
                    height: 10%;
                    
                    @extend %input-style;


                    @include sm-breakpoint{
                        width: 100%;
                    }
                }

                //cityselect
                .dropdown{
                    font-size: $fs4;
                    color:$black;
                    font-size:$fs6;
                    

                    &::placeholder{
                        font-size: $fs6;
                    }
                }

                .input-errors{
                    @extend %form-input-error;
                }

                & textarea{
                    resize:none;
                    width: 100%;

                    @include xs-breakpoint{
                        font-size: $fs-em-6;
                    }

                    &::placeholder {
                        color: $black;
                    }

                    &:focus::placeholder{
                        color:transparent;
                    }
                }
            }

            .profile-submit{    
                display: flex;
                justify-content: center;
                width: 50%;

                @include sm-breakpoint{
                    // width: 40%;
                    min-width: 2em;
                }

                .update-button{
                    @extend %profile-update-button;

                    @include xs-breakpoint{
                        font-size: $fs-em-4;
                        height: 2.6em;
                    }
                }
            }
        }
    }
}

.recommendedBtn{
    margin:10rem;
}

