@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;
@use '../base/typography' as *;
@use '../abstracts/brakepoints' as *;
@use '../abstracts/mixins' as *;

.houseworker-container{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:5em 0 ;
    margin:2em 0 3em 0;

    .profile-spinner{
        position:absolute;
        top:40%;
    }

    .houseworker-one{
        margin:2em 0 4em 0;
    }

    .houseworker-item-container{
        position: relative;
        width: 80%;
        min-width: 650px;
        max-width: 1100px;

        padding:2.5em 2em;

        @include flex-container($justify:space-around, $align:center);
        flex-wrap: wrap;

        background-color: rgba(249, 252, 255, 0.719);
        border-radius: 1em;
        box-shadow: 6px 5px 15px 10px rgba(0,0,0,0.3), inset 4px 4px 15px 0 rgba(0,0,0,0.3);
    
        @include sm-breakpoint{
            width: 70%;
            min-width:230px;

            flex-direction: column;
            justify-content: center;
            flex-wrap: nowrap;
            gap:2.5em;
        
        }



        #houseworker-item-label{
            position: absolute;
            font-size: 1.5em;
            font-family: $root-font-family-1;
            font-weight: 700;
            color:$grey-2;
            top:-1.5em;
            left:.6em;

            @include sm-breakpoint{
                left:50%;
                transform:translateX(-50%);
                text-wrap: nowrap;
            }
        }
    }
}






