@use '../abstracts/fonts' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;
@use '../base/typography' as *;
@use '../abstracts/brakepoints' as *;
@use '../abstracts//keyframes' as *;

.login_container{
    @include flex-with-direction-center($direction:column);
    width: 100%;
    height: 100%;
    min-height: 650px;
    padding: 10em 0;
    font-family: $font-family-2;
    background-color: $background-black-9;
}

.login_context{
    position: relative;
    width: 80vw;
    max-width: 1000px;
    
    height: 50%;
    min-height: 500px;
    
    @include flex-with-direction-center();
    
    box-shadow: -1px 1px 25px 5px $grey-2;
    padding: 6em 3em;
    border-radius:.4em;
    color:white;

    animation: slideRight 0.5s ease-out forwards;

    @include sm-breakpoint{
        width: 90%;
        min-width: 350px;
    }

    @include xs-breakpoint{
        min-height: 400px;
        width:95%;
        min-width: 250px;
    }

    .login-image{
        position:absolute;
        width: 100%;
        height: 100%; 
        object-fit: cover;
        
        box-shadow: -1px 1px 30px 5px $background-black-6, -1px 1px 20px 10px $background-black-6 inset;
        border-radius:.4em;
        color:white;
    }

    .context-item {
        position: absolute;
        left:2em;
        width: 25em;
        height: 70%;

        @include flex-with-direction-center($direction:column);
        color:$black;

        animation: slideRight 0.5s ease-out 0.3s forwards;
        opacity: 0;

        @include sm-breakpoint{
            position: absolute;
            left:0em;
            width: 100%;
            height: 30%;
        }

    }

    .demo_accounts{
        width: 80%;
        padding-top: .5em;
        margin-top: 1em;
        display: flex;
        flex-direction: column;

        font-size: $fs5;
        font-weight: 500;
        background-color: rgba(0, 0, 0, .16);
        border-radius: 10px;

        @include xs-breakpoint{
            font-size: $fs6;
        }

        .demo_accounts-title{
            text-align: center;
            font-size: $fs4;
            font-weight: 600;
        }

        .accounts{
            display: flex;
            justify-content: space-between;
            padding: .6em .5em;

            .account-item{
                &-type{
                    font-weight: 600;
                    font-size: $fs4;

                    @include xs-breakpoint{
                        font-size: $fs5;
                    }
                }
            }
        }
    }

}

.login_welcome{
    @include flex-with-direction-center($direction:column);
    margin:0rem 1em;
}

.login_form{
    @include flex-with-direction-center($direction:column);
    padding:1em 2em;
    width: 100%;
}

.input_container{
    padding:.3em 1em;
    width: 100%;

    .login_input{
        width: 100%;
        height: 1.5rem;

        border:none;
        background-color: transparent;
        border-bottom: 2px solid $grey-7;
        outline: none;
        color:$black-8;
        font-family: $font-family-2;
        font-size: $fs5;
        font-weight: 600;


        &.error{ 
            border-color: rgba(235, 1, 1, 0.938);            
        }

        &::placeholder{
            font-size: $fs6;
        }

        @include xs-breakpoint{
            font-size:$fs6;

            &::placeholder{
                font-size: $fs7;
            }
        }

    }

    .input_error{
        color:rgba(235, 1, 1, 0.938);
        font-family: $font-family-2;
        font-weight: 700;
        font-size:$fs6;

        @include xs-breakpoint{
            font-size: $fs7;
        }
    }
}

.button_container{
    padding: 1rem 1.2rem;
    width: 100%;
    button{
        height: 2.3em;
        width: 100%;
        border-radius:$border-radius-md;
        background-color: $black-4;
        font-size: $fs6;
        font-weight: 600;
        font-family: $font-family-2;
        color:white;

        cursor: pointer;

        &:hover{
            background-color: $black-1;
            color:white;
        }
    }
}

.logo-h{
    font-weight: 500;
    font-size:$fs1;
    letter-spacing: .01rem;
}

.login_loading{
    display: flex;
    justify-content: center;
    align-items: center;
}