@use '../abstracts/fonts' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;
@use '../base/typography' as *;
@use '../abstracts/brakepoints' as *;

.login_container{
    @include flex-with-direction-center($direction:column);
    width: 100%;
    height: 100%;
    padding: 10em 0;
    font-family: $font-family-2;
    background-color: $background-black-6;

}
.login_context{
    position: relative;
    width: 80vw;
    max-width: 1000px;
    // min-width: 400px;
    
    height: 50%;
    min-height: 500px;
    
    @include flex-with-direction-center();
    
    // box-shadow: 6px 5px 5px 10px rgba(255, 255, 255, 0.11), inset 5px 5px 10px 0px rgba(255,255,255,0.65);
    box-shadow: -1px 1px 25px 5px $grey-2;
    padding: 6em 3em;
    border-radius:.4em;
    color:white;

    @include sm-breakpoint{
        width: 80%;
        min-width: 350px;
    }

    @include xs-breakpoint{
        min-height: 400px;
        width:95%;
        min-width: 250px;
    }

    .login-image{
        position:absolute;
        width: 100%;
        height: 100%; 
        object-fit: cover;
        
        box-shadow: -1px 1px 30px 5px $background-black-6, -1px 1px 20px 10px $background-black-6 inset;
        border-radius:.4em;
        color:white;
    }

    .context-item{
        position: absolute;
        left:2em;
        // width: 40%;
        width: 25em;
        height: 70%;

        @include flex-with-direction-center($direction:column);
        color:$black;

        @include sm-breakpoint{
            position: absolute;
            left:0em;
            width: 100%;
            height: 30%;
        }

        @include xs-breakpoint{

        }
    }

}

.login_welcome{
    @include flex-with-direction-center($direction:column);
    margin:0rem 1em;
}

.login_form{
    @include flex-with-direction($direction:column);
    padding:1em 2em;
    width: 100%;
}

.input_container{
    padding:.3em 1em;
    width: 100%;

    input{
        width: 100%;
        height: 1.5rem;

        border:none;
        background-color: transparent;
        border-bottom: 2px solid $grey-7;
        outline: none;
        color:$black-8;
        font-family: $font-family-2;
        font-size: $fs5;
        font-weight: 600;

        &:focus{
            color:$black;
            border-color:$black-3;
        }

        &::placeholder{
            font-size: $fs6;
        }

        @include xs-breakpoint{
            font-size:$fs6;

            &::placeholder{
                font-size: $fs7;
            }
        }

    }


    .input_error{
        color:rgba(235, 1, 1, 0.938);
        font-family: $font-family-2;
        font-weight: 700;
        font-size:$fs6;

        @include xs-breakpoint{
            font-size: $fs7;
        }
    }
}



.button_container{
    padding: 1rem 1.2rem;

    button{
        height: 2.3em;
        width: 100%;
        border-radius:$border-radius-md;
        background-color: $black-4;
        font-size: $fs6;
        font-weight: 600;
        font-family: $font-family-2;
        color:white;

        cursor: pointer;

        &:hover{
            background-color: $black-1;
            color:white;
        }
    }
}

.logo-h{
    font-weight: 500;
    font-size:$fs1;
    letter-spacing: .01rem;
}

