@use '../abstracts/fonts' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;
@use '../base/typography' as *;

.login_container{
    @include flex-with-direction-center($direction:column);
    width: 100%;
    height: 100%;
    padding: 10em 0;
    font-family: $root-font-family-2;
    background-color: $background-black-7;

}
.login_context{
    position: relative;
    color:white;
    // @include flex-with-direction();
    width: 80vw;
    max-width: 1000px;
    min-width: 400px;

    height: 100vh;
    min-height: 500px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    // box-shadow: 6px 5px 5px 10px rgba(255, 255, 255, 0.11), inset 5px 5px 10px 0px rgba(255,255,255,0.65);
    box-shadow: -1px 1px 30px 5px rgba(0,0,0,0.65), -1px 1px 20px 10px rgba(0,0,0,0.65) inset;
    padding: 6em 3em;
    border-radius:.4em;

    // background-image: url('../../../public/assets/img19.jpg');
    background-image: url('../../../public/assets/login4.jpg');
    // width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;


    .context-item{
        position: absolute;
        left:2em;

        min-width: 350px;

        color:black;
        width: 40%;
        height: 70%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;;
    }

}

.login_welcome{
    @include flex-with-direction-center($direction:column);
    margin:0rem 1em;
    
}

.login_form{
    @include flex-with-direction($direction:column);
    padding:1em 2em;
}

.input_container{
    padding:.3em 1em;
    width: 100%;

    input{
        width: 100%;
        height: 1.5rem;

        border:none;
        background-color: transparent;
        border-bottom: 2px solid $grey-7;
        outline: none;
        color:$black-8;
        font-size: .9em;
        font-weight: 600;

        &:focus{
            color:black;
            border-color:$black-3;
        }

        &::placeholder{
            font-size: .8rem;
        }

    }


    .input_error{
        color:rgba(235, 1, 1, 0.938);
        font-family: $root-font-family-5;
        font-weight: 600;
        font-size:$fs6;
    }
}



.button_container{
    padding: 1rem 1.2rem;

    button{
        border-radius:$border-radius-md;
        font-size: $fs6;
        font-weight: 600;
        height: 2.3em;
        width: 100%;
        background-color: $black-4;
        color:white;

        cursor: pointer;

        &:hover{
            background-color: $black-1;
            color:white;
        }
    }
}

.logo-h{
    font-weight: 500;
    font-size:$fs1;
    letter-spacing: .01rem;
}

