@use '../abstracts/placeholders' as *;
@use '../abstracts/fonts' as *;
@use '../base/typography' as *;
@use '../abstracts/colors' as *;


.container{
    display: flex;
    justify-content: center;
    position:relative;

    height: 100%;
    width:100%;
    // height: 700px;
    // max-width: 1100px;
    background-color: hsla(0, 4%, 90%, 0.541);

}

.spinner{
    position:absolute;
    top:30%;
    left: 50%;
    transform: translateX(-50%);
}

.messages-container{
    display:flex;
    align-items: center;

    margin:7em 0em;
    background-color: $black-6; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 80%;
    width:90%;
    max-width: 1100px;

    .rooms-container{
        display: flex;
        flex-direction:column;
        
        height: 100%;

        .room-chat-header{
            width: 100%;
            height: 5.3em;
            background-color: $black-4;
            margin-bottom: .1em;
            color:$white;
            display:flex;
            align-items: center;
            justify-content: center;

            .header-label{
                font-size: $fs1;
                font-family: $root-font-family-2;
                font-weight: 600;
                letter-spacing: .05em;
            }
        }

        .rooms{
            height: 90%;
            // width:23em;
            max-width: 30em;
            display: flex;
            flex-wrap: wrap;

            box-shadow: 0px 8px 10px rgba(0,0,0,0.20);
            //x:hidden
            overflow:hidden scroll;
            @extend %scrollbar-chat-style;
        }
    }

    .chat-container{
        display: flex;
        flex-direction: column;
       
        height: 100%;
        width: 80%;
        // width: calc(80% - 85px);
        // min-width: 500px;
    }
}