@use '../abstracts/placeholders' as *;
@use '../abstracts/fonts' as *;
@use '../base/typography' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/brakepoints' as *;

.container-client{
    width:100%;
    height: 100vh;

    max-height: 100vh;
    position:relative;
    display: flex;
    justify-content: center;
    background-color: $background-white-4;
}

.container-houseworker{
    width:100%;
    height: 100vh;
    max-height: 100vh;

    position:relative;
    display: flex;
    justify-content: center;
}

.profile-spinner{
    position:absolute;
    top:40%;
}

.messages-container{
    width:100%;
    max-width: 1100px;
    height: 100%;

    display:flex;
    align-items: center;
    // align-items: stretch;

    background-color: $black-6; 
    box-shadow: 1px 1px 10px 1px rgba(104, 104, 104, 0.87), 0 6px 6px rgba(0,0,0,0.23);

    &.client {
        margin-top:4em;
        height: calc(100% - 4em); //reduce top header
    }

    @include lg-breakpoint{
        width: 100%;
    }

    @include sm-breakpoint{
        flex-direction: column;
        width:100%;

        height: 100vh; // Full viewport height on mobile
    }

    .rooms-container{
        display: flex;
        flex-direction:column;

        height: 100%;
        width: 50%;
        min-width: 300px;

        @include sm-breakpoint{
            height: 100%;
            width: 100%;
            min-width: 350px;

            &.no-display{
                display:none;
            }
        }

        @include xs-breakpoint{
            width: 100%;
            min-width: 250px;
        }

        .room-chat-header{
            width: 100%;
            height: 5.3em;
            background-color: $black-4;
            margin-bottom: .1em;
            color:$white;
            display:flex;
            align-items: center;
            justify-content: center;

            @include sm-breakpoint{
                height: 5em;
            }

            .header-label{
                font-size: $fs1;
                font-family: $font-family-2;
                font-weight: 600;
                letter-spacing: .05em;
            }
        }

        .rooms{
            position: relative;
            // height: 90%;
            height: calc(100% - 5.3em); // Take remaining height after header
            width:100%;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 8px 10px rgba(0,0,0,0.20);
            overflow:hidden scroll;
            @extend %scrollbar-chat-style;

            @include sm-breakpoint{
                background-color: $chat-mobile-header;
                height: calc(100% - 5em);
            }
        }
    }

    .chat-container{
        display: flex;
        flex-direction: column; 
        height: 100%;
        width: 80%;

        overflow:hidden;
        
        @include sm-breakpoint{
            width: 100%;
            height: 100%;
            display:none;

            &.display{
                // display:unset;
                display: flex; // Must be flex to maintain layout
                flex-direction: column;
            }
        }
    }
}