@use '../abstracts/fonts' as *;
@use '../base/typography' as *;

.notFound{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color:white;

    font-size: $fs1;

    & h1{
        font-size: $fs-em-1;
    }
  }
  
  