.comment_container{
    background-color: aliceblue;

    width: 70%;
    height: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:.5rem 0rem;
    margin:.5rem 0rem;

    border-radius: .7rem;
    position: relative;

}
.comment_container .info{
    margin:.5rem 0rem;
    position: absolute;
    top:-.4rem;
    left:.5rem;
}
.btn_comment_delete{
    position: absolute;
    right:.4rem;
    top:.4rem;

    width: 1rem;
    border:none;
    background: none;

    color:red;
    font-size: .8rem;
    font-weight: 600;
}
.btn_comment_delete:hover {
    color:black;
    font-size: .9rem;
}

.context{
    padding:.5rem 0rem;
}