.search-box{
    height: 5rem;
    width: 100%;
    /* background-color: gray; */
    /* opacity: .7; */
    margin:.8rem 0 .8rem 0;

    position:relative;

}

.input-search{
    position:absolute;

    /* background-color: wheat; */
    /* opacity: .9; */
    height: 80%;
    width:80%;
    /* max-width: 20rem; */
    left:25%;
    top: 0;

}

.input-search .box_s{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    /* background-color: turquoise; */
    height: 50%;
    width: 80%;
    max-width: 77rem;
    top:25%;
    left:10%;
}

.box_s button{
    position: absolute;
    right: .2rem;
    width:3.4rem;
    height: 1.7rem;
    font-weight: 600;

    
}
.box_s button:hover{
    background-color: rgb(192, 192, 192);
    /* border:none; */
    border:1px solid  black;
}


.search{
    position:relative;
    width: 100%;
    height: 100%;
    opacity: .7;

    border-radius: .4rem;
}

/* .search-button{
    position:absolute;
    right:0;
    
    width: 7%;
    height: 100%;

    border-radius: .4rem;

    transition: all .6s;

    display: none;
}
.search-button:hover{
    color:blue;
    background-color: gray;
    transition: all .7s;
} */

.sort{
    position:absolute;
    /* background-color:turquoise; */
    opacity: .6;
    height: 80%;
    width:12rem;
    left:5%;
    top:17%;
}

.sort-box{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sort-1 , .sort-2 , .sort-3, .sort-4{
    width: 3rem;
    height: 2rem;
    margin:.1rem;
    border-radius: 5px;
    border:none;
    color:black;
}
.sort-1:hover , .sort-2:hover , .sort-3:hover, .sort-4:hover{
    background-color: rgb(255, 204, 128);
}
.sort-2{
    margin-right:.5rem;
}
