@use '../abstracts/mixins' as *;

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
  
body {
  margin: 0;
  height: 100%;
  width: 100%;
  
  @include bg-image(url("https://res.cloudinary.com/dwcncwmpb/image/upload/v1760554041/q4zxy1tlblfs0eimhppmNew_w7nrin.jpg"));
  background-attachment: fixed;
}