@use '../abstracts/mixins' as *;
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  
body {
  margin: 0;
  height: 100%;
  width: 100%;
  
  @include bg-image(url("https://res.cloudinary.com/dwcncwmpb/image/upload/v1735407853/Images/q4zxy1tlblfs0eimhppm-background.jpg"));
  background-attachment: fixed;
}
  
//This modes in _root.scss
/* set a div's haight to cover the full screen */
  //   #root{
  //     height: 100%;
  //     width: 100%;
  //   }
