@use '../abstracts//fonts' as *;
@use './typography' as *;

#root{
    height: 100%;
    width: 100%;

  }

:root{
  height: 100%;
  width: 100%;

  font-family:$root-font-family-1;
  font-size:$text-base-size;
}

.notFound{
  display: flex;
  justify-content: center;
  color:white;
  padding:15em 0em;
  font-family: $root-font-family-1;
}


// @include breakpoint(md) {
//   :root {
//       // you can manage typography editing only these 2 variables
//       --text-base-size: 1.25em;
//       --text-scale-ratio: 1.25;
//   }
// }