@use '../abstracts/fonts' as *;
@use './typography' as *;

#root{
    height: 100%;
    width: 100%;
    font-family:$font-family-1;
    font-size:$text-base-size;

  }

:root{
  height: 100%;
  width: 100%;
  font-family:$font-family-1;
  font-size:$text-base-size;
}
