//h1, h2, h3 other headers 

/* set base values */
$text-base-size: 1em;
$text-scale-ratio: 1.1;
$line-height: 1.5;

:root{
    //te
    
}

// /* type scale */
// $text-xs: calc(1em / $text-scale-ratio);
// $text-sm: calc(1em / $text-scale-ratio * $text-scale-ratio);
// $text-md: calc(1em * $text-scale-ratio);
// $text-lg: calc(1em * $text-scale-ratio) * $text-scale-ratio;
// $text-xl: calc(1em * $text-scale-ratio) * $text-scale-ratio * $text-scale-ratio;
// $text-xxl: calc(1em * $text-scale-ratio) * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio;
// $text-xxxl: calc(1em * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio);



$fs1:1.3rem;
$fs2:1.2rem;
$fs3:1.1rem;
$fs4:1rem;
$fs5:.9rem;
$fs6:.8rem;
$fs7:.7rem;
$fs8:.6rem;
$fs9:.5rem;
$fs10:.4rem;
$fs11:.3rem;

//Em representation
$fs-em-1:1.3em;
$fs-em-2:1.2em;
$fs-em-3:1.1em;
$fs-em-4:1em;
$fs-em-5:.9em;
$fs-em-6:.8em;
$fs-em-7:.7em;
$fs-em-8:.6em;
$fs-em-9:.5em;
$fs-em-10:.4em;
$fs-em-11:.3em;

// h1,h2,h3,h4{

// }

// clamp(min, val, max)